[2014-05-12 10:31] PVince81 opened #1 "Fix README"

[2014-05-17 18:13] DavidPrevot opened #2 "Please restore the files_pdfviewer app in the daily build"
Hi,

The apps/files_pdfviewer is not available in the current owncloud-daily-master.tar.bz2 anymore, it would be nice if it came back.

Regards

David

[2014-05-18 14:02] #2 closed, assigned to nobody

[2014-05-26 23:10] vgezer opened #4 "Translations are not updated"
Since activity is separated from the core repository, it does not update the translations from transifex.

@DeepDiver1975

Like the one mentioned here: https://github.com/owncloud/activity/issues/34

[2014-05-27 21:05] #4 closed, assigned to DeepDiver1975

[2014-06-10 15:00] karlitschek opened #5 "the viewer is displaced on the bottom of the screen"
Current core master and master files_pdfviewer don´t work correctly together. The view is moved to the bottom of the screen. You can check the daily master build to check.

[2014-06-11 15:44] #5 closed, assigned to PVince81

[2014-06-18 16:27] #1 closed, assigned to nobody

[2014-06-26 08:10] LukasReschke opened #10 "Git Tags are not created for oC7"
@karlitschek Could you take care of this? THX a lot!

[2014-06-26 12:56] #10 closed, assigned to nobody

[2014-06-29 11:04] nrbrt opened #11 "OC 7.0 BETA PDF viewer error with special characters in filename"
the pdf viewer has problems with some special characters in the filename in this case the offending bit is "++" bit, just "+" is also a problem. In OC 6 this works fine. The error message is throws is:

PDF.js v0.8.1136 (build: ca612e5)
Message: Missing PDF "http://server.domain/owncloud/index.php/apps/files/ajax/download.php?files=Apress Pro Android C++ with the NDK (2012).pdf&dir=/test/books/Com

[2014-07-02 08:59] fossxplorer opened #13 "Blank page on stable6"
Tested after commit 640bac372f28c9a9d2079a23c67c4c81a451b6c2 and the public shared PDF files are displayed correctly, but isn't working in the Files app.

@LukasReschke

[2014-07-06 14:14] #11 closed, assigned to LukasReschke

[2014-07-09 21:20] gerootech opened #17 "Just updated to 6.04"
After the update the PDF file viewer does not load PDF files. I tried with 3rd party app called PDFMIME, and it is working.

I wish i can have the original pdf viewer back.

[2014-07-25 13:35] NiksNeues opened #18 "PDF Files are not displayed in chrome and Firefox"
when I try to open a PDF it cannot be displayed/loaded.

i guess it's due to a "double slash" in the dir-part of the URL:
"(...)pdf&dir=<b>%252F</b>clientsync<b>%252F</b>N(...)"

this only happens in Firefox (30.0) and Chrome (36.0),
In IE (11.0) the files are displayed correctly.
Downloading the PDF files works flawlessly.

Also other file types (e.g. jpg, png, txt ...) are linked correctly.
###

[2014-08-01 15:49] scolebrook opened #20 "PDF.js v0.8.1136 (build: ca612e5) Message: xrefEntry is undefined"
Fairly old version of pdf.js. This issue has been fixed for a while now. See:
https://github.com/mozilla/pdf.js/pull/4606

Could we update for both oc 7 & 6?

[2014-08-10 08:33] #13 closed, assigned to nobody

[2014-08-11 04:57] #17 closed, assigned to nobody

[2014-08-21 15:05] #18 closed, assigned to LukasReschke

[2014-10-05 14:30] conradhagemans opened #24 "PDF viewer broken on nightly ownCloud 8.0 pre alpha (daily) Build:2014-10-03T03:13:37+00:00 (#11404)"
Last week I installed the latest nightly build to test OC 8

Upgrade works nice from OC 7
I noticed that the PDF viewer screen comes up but stays black. PDF pages are not shown.

[2014-10-09 20:05] skipmcdonald opened #25 "PDF viewer error in IE9 on demo site."
Viewing the .pdf file on the owncloud demo site does not display the file, but does show a complete screen minus the content.

F12-console shows:
SCRIPT5007: Unable to get value of the property 'setAttribute': object is null or undefined
viewer.js?v=1, line 4974 character 5

Works fine in IE10...

IE9 works on the of PDF.js demo here in its native github.. just not the owncloud app version.

[2014-11-15 17:03] ro78 opened #26 "PDF viewer ask for a password without reason"
Hello,

I've uploaded a PDF using the web portal of ownCloud (7.0.3).
When I click on it, the PDF viewer of ownCloud ask me a password.
The problem is that this PDF is NOT protected by a password.
I can open it in Chrome directly or in Adobe Reader.

Screenshots:
Asking for password: https://dl.dropboxusercontent.com/u/25257544/2014-11-15_171947.png
PDF opened in Chrome without password: https://d

[2014-11-28 14:27] gcraenen opened #27 "pdf viewer not showing pdf's"
PDF's are not showing. Error message is:

PDF.js versie 0.8.1136 (build ca612e5)
Bericht: Missing PDF "https://synology.calmus.biz:23145/index.php/apps/files/ajax/download.php?files=20140103%20Factuur%20Amazon%20webservices.pdf&dir=%2Fdocuments%2FCalmus%2FBoekhouding%2F2014%2FFakturen%20inkomend".

[2014-12-12 10:38] ppaysant opened #28 "Back button is not correctly managed"
Hello,

I know that back button is a dev nightmare and should be banned, but, hey, it exists and users are using it :)

### Steps to reproduce
1. Go to file list (/index.php/apps/files/)
2. Navigate a little in subdirectories (just to get a history with owncloud urls)
3. Click on a pdf document to view it with this app
4. Click on back button (you may also use alt+arrows to navigate in the history

[2014-12-18 19:41] #26 closed, assigned to LukasReschke

[2014-12-18 19:42] #25 closed, assigned to LukasReschke

[2014-12-18 19:42] #27 closed, assigned to nobody

[2014-12-18 19:42] #20 closed, assigned to LukasReschke

[2014-12-18 19:42] #24 closed, assigned to LukasReschke

[2015-01-15 16:58] mjdemilliano commented on #28
+1 I confirm this issue.

[2015-01-16 11:17] DeepDiver1975 commented on #28
refs https://github.com/owncloud/files_texteditor/issues/50

@PVince81 as multiple editors/viewers share this issue we might want to invent something within core?

[2015-01-16 11:54] PVince81 commented on #28
I thought I had a ticket already but cannot find it.
So I raised this one: https://github.com/owncloud/core/issues/13414

[2015-01-16 12:59] DeepDiver1975 commented on #28
THX

[2015-02-02 20:25] jnweiger opened #37 "eval-appliance-oc8ee: First page rendered blank"
Tested the PDF viewer app as packaged in eval-appliance-oc8ee
downloaded from http://s2.owncloud.com:83/ee:/8.0/images_zip/eval-appliance-oc8ee.x86_64-2015.5.1-Build2.1.qcow2.zip

This is 8.0.0 RC1 running on openSUSE-13.1

Clicking on the ownCloudClientManual-1.7.pdf, the pdf viewer opens. The first page of the PDF is rendered all white with an rotaiting busy indicator. When scrolling down, all o

[2015-02-02 22:24] MorrisJobke commented on #37
@LukasReschke You touched pdf the last times ;)

[2015-02-03 09:25] DeepDiver1975 commented on #37
@jnweiger which browser on which os?

Anything in the browsers error console?

THX

[2015-02-03 09:39] LukasReschke commented on #37
Also would be awesome if that PDF could be shared here. I have no idea how to access s2 from here ;-)

[2015-02-03 10:27] DeepDiver1975 commented on #37
http://doc.owncloud.org/desktop/1.7/ownCloudClientManual.pdf

[2015-02-03 10:27] DeepDiver1975 commented on #37
The problem is related to the pdf - it doesn't render here in pure firefox as well

[2015-02-03 10:30] LukasReschke commented on #37
Upstream Issue then. Let's file an issue at https://github.com/mozilla/pdf.js/issues. I can do that later but now not. If somebody else wants to dive in: Feel free to ;-)

[2015-02-10 06:27] igraf opened #38 "ownCloud 8 PDF Viewer Favorites, no correct display"
ownCloud 8 Final

Hi
I have problems with pdf view in favorites. when open a pdf, the folder structure is displayed. Failure detected in several browsers.

Examples
https://drive.google.com/file/d/0B_JBqvP4UUXkSTJPSjBnRnBYRG8/view?usp=sharing
https://drive.google.com/file/d/0B_JBqvP4UUXkV0NaRWJ1VU5SbGs/view?usp=sharing

The key tools is not good visible and hinders the close button
https://drive.g

[2015-02-26 12:37] LukasReschke commented on #38
Core issue: https://github.com/owncloud/core/issues/14536

[2015-03-10 12:18] ochsusd opened #46 "preview pdf.js not working"
PDF files generated via a certain printing device can not be displayed in owncloud.

Mozilla FireFox 36.0.1
Cloud 7.0.4 (stable)

Error Message after click on that file is:

[Could not load PDF file]
PDF.js v0.8.1136 (build: ca612e5)
Message: infoDict.has is not a function

PDF document property:

PDF Version 1.6 (Acrobat 7.x)

Adobe Acrobat xmp output for the PDF file:

<?xpacket begin="﻿" id="W5

[2015-03-10 13:05] karlitschek commented on #46
this seems to be a bug in pdf.js. I recommend to report this bug to them. Thanks a lot

[2015-03-10 13:05] #46 closed

[2015-04-10 07:42] jvillafanez opened #47 "Error message shown after trying to open a deleted federated cloud share doesn't explain the cause, causing bad UX"
### Steps to reproduce
1. Upload a pdf file and share it by link in server A
2. Add the link in server B
3. Delete the pdf file in server A
4. Open the file from server B with the pdf viewer

### Expected behaviour
The app warns the users that the file is missing and cannot be longer accessed, probably deleting the file in server B

### Actual behaviour
It just shows an error about not loading the

[2015-04-10 08:21] LukasReschke commented on #47
:confused: – I don't get the problem - can you please rephrase it for dummies? Thanks :-)

[2015-04-10 08:45] jvillafanez commented on #47
That happens when I copy and paste the steps from another issue :sweat_smile:
You need to delete the pdf file uploaded in step 1

[2015-04-10 08:49] jvillafanez commented on #47
I've updated the steps to make them clearer

[2015-04-10 08:50] LukasReschke commented on #47
So basically it's the same such as deleting a file in another tab and opening it in a previously opened tab?  – Mhm, let me see if there is some way to catch this gracefully. Should be possible.

[2015-04-10 08:57] jvillafanez commented on #47
Not exactly. You have 2 servers sharing a file through server to server sharing. The file you try to open is shared from the other server, and at some point that file is deleted

[2015-04-10 08:58] LukasReschke commented on #47
Yeah. But technically it is the same thing that happens "the file does not exist more on the ownCloud server" - it's not in the file list - right?

If so I should be able to catch this _relatively_ easily.

[2015-04-16 18:27] juriorlov opened #48 "Secure Connection Failed - pdfviewer"
Hello Everyone,

Few days ago I installed newest version of owncloud. I published it on some public domain. Yesterday I also bought and installed SSL Certificate to ensure secure connection. Everythings works fine except pdfviewer.

Using http, every user can use all functionality eg. upload, download, view document, share etc.
Using https, every user can use all functionality as using http, excep

[2015-04-17 18:35] jnfrmarks opened #49 "files_pdfviewer does not pass occ app:check-code"
### Steps to reproduce

1. Install 8.1 enterprise
2. invoke occ app:check-code

### Expected behaviour

The app passes the check

### Actual behaviour

The app fails the check:

[code]

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition 8.1 alpha 1 (daily) Build:2015-04-16T03:08:13+00:00 f50798a674bf223e1c8015b9a27287b2ac6c9f1a

[2015-04-17 18:49] LukasReschke commented on #49
This is an error in the unit test bootstrapping => Irrelevant

[2015-04-17 19:23] jnfrmarks commented on #49
If it's irrelevant than can we update occ app:check-code to ignore this issue?

@DeepDiver1975

[2015-04-21 17:35] juriorlov commented on #48
@karlitschek @LukasReschke
Is there any possible to fix it manually / programically? Any tips? I m working on it, but I m a new in this project. In my opinion application is trying to load file or some resources on http even if user use https.

[2015-04-23 10:47] DeepDiver1975 commented on #49
yes - we shall not analyse test folders

[2015-05-07 09:06] SergioBertolinSG opened #50 "PDF files can't be opened in trashbin"
### Steps to reproduce

1. Upload pdf files.
2. Delete it.
3. Open it in the trashbin.

### Expected behaviour
File is opened.

### Actual behaviour
View gets broken.

![screen shot 2015-05-07 at 11 04 27](https://cloud.githubusercontent.com/assets/9048796/7511907/f2eb241a-f4a8-11e4-9d35-95f2f964712b.png)

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Datab

[2015-05-14 16:09] SergioBertolinSG opened #54 "files_pdfviewer is not ready for internet explorer 8"
This app simply doesn't work in internet explorer 8 at all.

[2015-05-15 10:32] DeepDiver1975 commented on #54
@SergioBertolinSG can you please test if the demo of pdf.js works in IE8? https://mozilla.github.io/pdf.js/

[2015-05-15 10:52] LukasReschke commented on #54
It doesn't work. It is even documented in the appinfo file: https://github.com/owncloud/files_pdfviewer/blob/4d955cb2942027c57bc0b78440d7fbd034b0aeea/appinfo/info.xml#L13

See https://github.com/mozilla/pdf.js/wiki/Required-Browser-Features – what does "not work" mean? In the expected case it should do nothing at all and not get displayed. Though that seems to get lost by the last refactoring. Pre

[2015-05-15 10:54] LukasReschke commented on #54
https://github.com/owncloud/files_pdfviewer/pull/55 brings back the "don't show PDF viewer at all behaviour."

[2015-05-15 11:59] SergioBertolinSG commented on #50
Perhaps the expected behaviour should be not opening pdf viewer at all.

[2015-05-15 12:00] #54 closed

[2015-05-15 12:00] PVince81 commented on #50
Yes, currently the trashbin should not display any previews.

The problem is that there is no reliable generic way for apps to say "give me the URL to the selected file with the correct content". Some apps even have their own endpoints for loading files (like text editor) which makes it extra-tricky.

For now viewer apps should not trigger themselves in the trashbin.

[2015-05-18 12:14] jancborchardt opened #56 "Public sharing view of a PDF: double scrollbar"
When sharing a PDF, the PDF.js container extends below the viewport which results in a double scrollbar. One from PDF.js and one from us:
![owncloud shared pdf double scrollbar](https://cloud.githubusercontent.com/assets/925062/7614243/d42133ca-f995-11e4-99b9-f58fba038523.png)
We should make sure the PDF.js container is only as high as the viewport _minus_ the header height to remove our scrollbar

[2015-07-17 11:29] MorrisJobke commented on #28
@cmonteroluque To be honest: I don't think this is solvable for 8.1.1 :(

[2015-07-29 15:02] rubenszolt opened #60 "PDF viewer issue on Firefox"
The PDF files not open on Firefox 31.8.0, under IE and Chrome is working. If I turn off the CSP on about:config (security.csp.enable) is working.

[2015-07-30 13:46] LukasReschke commented on #60
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-08-02 07:48] rubenszolt commented on #60
### Steps to reproduce
1.do a fresh install
2.Reinstall the app and OC
3.test under Firefox, Chrome and IE

### Expected behaviour

### Actual behaviour
More PDF files not open on Firefox 31.8.0, under IE and Chrome is working. If I turn off the CSP on about:config (security.csp.enable) is working.

### Server configuration
**Operating system: Debian 8 jessie x64

**Web server:apache 2

**Database

[2015-08-11 12:36] africanforest commented on #60
I'm seeing the same issue with Firefox 39.0.3 on MAC OSX 10.10.4

[2015-08-11 12:39] LukasReschke commented on #60
This works just fine from me. Can you please share the PDF in question with me? Thanks.

[2015-08-11 12:39] LukasReschke commented on #60
(see my profile for my mail address)

[2015-08-11 13:02] africanforest commented on #60
I just tested the same PDF files with Chrome and they all are showing up fine.

[2015-08-20 22:47] mik997 opened #61 "ownCloud generates intermittent "An error occurred while loading the PDF" message since upgrading 8.0.4 to 8.1.1"
Typical error at PDF viewer page:

PDF.js v1.0.712 (build: 6969ed4)
Message: Unexpected server response (0) while retrieving PDF "https://...........pdf"

happens infrequently only on some PDFs.
encryption is not enabled.
deleting and re-uploading the same PDF does not correct.

[2015-08-29 09:44] farson2003 opened #62 "When Owncloud personal user language is set to "English", pdfviewer interface still shows German"
When Owncloud personal user language is set to "English", pdfviewer interface still shows everything in German.
Ideally the pdfviewer interface language should be set according to the user's preference.

[2015-08-29 09:46] farson2003 opened #63 "pdfViewer seems to have problems showing some images."
I cannot be much more specific, but certain documents (it appears when containing images), do not show correctly. Pdfviewer does not show some of their images.

(This is especially troublesome, when opening a scanned document with the pdfviewer and then all that shows is a blank white page),
(I cannot attach the specific document here due to data protection reasons, but maybe somebody else can hel

[2015-09-02 08:37] Mitchou commented on #63
Same here !

[2015-09-04 08:27] cheesewizz commented on #63
Me too, its only display a white page or blank with firefox 40.0 but work with chrome, I havent try in IE,
https://forum.owncloud.org/viewtopic.php?f=31&t=30237&sid=8f00867d8a981ee8303a92efaf64a6bb
 is there any workaround?

thanks

[2015-09-04 18:28] jcallerykbi commented on #60
I am experiencing the same problem with Chrome 45.0.2454.85 32 bit on Windows 7 64 bit.  Same with Firefox 40.0 unless I disable CSP as described above.

[2015-09-04 18:40] jcallerykbi commented on #63
I believe this issue and https://github.com/owncloud/files_pdfviewer/issues/60 are the same.  You can work around it in Firefox by changing security.csp.enable to false in about:config.  However I believe you are taking a security hit in Firefox as this setting is universal.

[2015-09-09 12:51] jcallerykbi commented on #63
Here is the error in Chrome:

Which is strange, because what I can tell from this is that the only "safe" image source pdfviewer sees is 'self', when both 'self' and data: are hard coded in the Allowed Images array in contentsecuritypolicy.php.

However, if I add data: to the img-src array using $policy.addAllowedImageDomain('data:') in displaycontroller.php, data: will then show in the error, but

[2015-09-09 12:55] jcallerykbi commented on #63
Sorry!  looks like I was looking at two different versions of Owncloud.  Data: is NOT hardcoded in the Allowed Images domain for the version I am using as my dev server, which is 8.1.1.  However,  shouldn't adding data: to the allowed domains still work?

Thanks

[2015-09-09 13:49] LukasReschke commented on #60
Please test https://github.com/owncloud/files_pdfviewer/pull/65

[2015-09-09 13:49] LukasReschke commented on #63
Please test Please test https://github.com/owncloud/files_pdfviewer/pull/65

[2015-09-09 14:07] jcallerykbi commented on #60
Adding

to displaycontroller.php works - I can now see pdf images in Chrome.  But security wise, isn't this a little loose?  The probability of it being exploited is probably pretty low, but I don't know.

Thanks,
Jeff

[2015-09-09 14:09] LukasReschke commented on #60
Images are non active content. The only thing that happens now is that a PDF file might include external resources which will then get loaded and the person who sent you this file will then know that you accessed it using ownCLoud.

[2015-09-09 14:09] jcallerykbi commented on #60
Okay.  Sounds good.  Thanks for your help!

Jeff

[2015-09-09 14:18] jcallerykbi commented on #60
Hmmm...  getting this:

After re-enabling CSP in Firefox 40.0.3.

[2015-09-09 14:27] LukasReschke commented on #60
Does only the error appear or does it actually work? Firefox has a somewhat buggy CSP implementation ;-)

[2015-09-09 14:33] jcallerykbi commented on #60
Unfortunately, it shows blank pages where the images should be.  Sorry!

[2015-09-09 14:33] LukasReschke commented on #60
Can you share the PDF with me? See my profile for my mail address.

[2015-09-10 17:45] chezsez42 commented on #60
Lukas I shared a sample pdf that shows blank page when opened in OwnCloud PDF viewer.

[2015-09-15 08:37] niefra commented on #60
hi, I have the same problem
maybe it depends on the pdf-version?
for me it works with pdf-docuemnts version "%PDF-1.5" but not with "%PDF-1.4",
thanks
franz

[2015-09-18 18:28] volkswagner commented on #63
I too get blank pages or partial content when viewing certain .pdf files using Owncloud server 8.1.

An easy way to reproduce the problem:
    1) Create a Google Doc, add text and a photo
    2) Use Google file menu and "download as pdf"
    3) Upload to owncloud
    4) View .pdf with viewer and see there will be no picture, but it does exist in the file.

I have similar issue with scanned documen

[2015-09-18 19:21] tony5 opened #66 "PDF will not open"
PDF files created on some scanners or exported from google docs with images will not open.
disabling CSP "content security policy" will fix this issue but not the best solution.
owncloud 8.1.3 all php versions including vbox VM image.

[2015-09-18 19:37] #63 closed

[2015-09-18 19:38] LukasReschke commented on #60
Potentially fixed with https://github.com/owncloud/files_pdfviewer/pull/65, please open a new issue if this still persists. Also clean your cache :-)

[2015-09-18 19:38] #60 closed

[2015-09-18 19:38] LukasReschke commented on #66
Potentially fixed with https://github.com/owncloud/files_pdfviewer/pull/65, please open a new issue if this still persists. Also clean your cache :-)

[2015-09-18 19:38] #66 closed

[2015-09-18 21:10] tony5 commented on #66
@LukasReschke adding $policy->addAllowedImageDomain('*');  to  controller/displaycontroller.php does not work for me.

[2015-09-21 19:25] cmonteroluque commented on #28
8.2 based on https://github.com/owncloud/files_pdfviewer/issues/28#issuecomment-70243715

[2015-09-22 07:56] PVince81 commented on #28
Managing the back button might not be possible as it requires a new API (viewer API) and have apps implement that API to make it manageable.

However if some apps are misbehaving right now it might be possible to provide a quick fix for every app, making them auto-close whenever the URL changes.

[2015-09-26 09:40] Akhenaton commented on #66
Neither for me... simply doesn't work.

[2015-09-26 10:08] LukasReschke commented on #66
Also use the issue template and post a copy of the file as well as provide a test account to the instance (lukas at owncloud dot com)

[2015-09-26 10:31] Akhenaton opened #67 "[HALF-SOLVED] PDF will not open #66 - Fix #65 doesn't work for me."
Hi,

@ LukasReschke commented 17 days ago
Fixes #63 and #60 and #66

 ==> This fix #65 doesn't work for me... running Firefox 41.0 on Linux. And yes, all my cache is cleared (browser AND assets directory). I still have a pdf file that open normally, with no errors, but shows white blank pages in Firefox 41.0. With local pdf readers it works normally.

Should i send you that "pdf" ?

Regards,

[2015-09-26 10:34] LukasReschke commented on #67
Yes.

[2015-09-26 10:55] Akhenaton commented on #67
Hum, it's a 24 meg. pdf.... I can't attach such big file to a mail... Have you a ftp or another way ? Thanks !

[2015-09-26 11:01] LukasReschke commented on #67
Please upload to https://s3.owncloud.com/owncloud/index.php/s/a1Idja3bJZWDlah

[2015-09-26 11:08] Akhenaton commented on #67
Done ! Thank you !
Best Regards,

[2015-09-26 11:45] LukasReschke commented on #67
Works here: ![2015-09-26_13-44-54](https://cloud.githubusercontent.com/assets/878997/10117371/c64c19e8-6454-11e5-88dd-14c8af8c5e50.png)

Please provide a test account to your instance (lukas at owncloud dot com). I can't debug this further otherwise.

[2015-09-27 07:36] Akhenaton commented on #67
It"s very odd, because i have many others "pdf" file and they all opens normally. The only thing i can think of is that this very pdf is made of many assembled little pdf pages/files i consolidated into one pdf file with "pdf chain".

I've sent you a mail for a test account.

Best regards,

[2015-09-27 14:20] Akhenaton commented on #67
I have installed Chromium 45.0.2454.85 and it works flawlessly !!!  :-)

**So it's only a matter with Firefox. (Firefox 41.0)**

Regards,

[2015-09-27 14:26] #67 closed

[2015-09-27 15:21] tony5 commented on #67
I don't know why this issue has been closed?
what is the solution for Firefox?

[2015-09-27 15:40] Akhenaton commented on #67
Because i think it's not an ownCloud  "files_pdfviewer" issue, but rather a Firefox bug... Firefox is getting worst each new release... So i've closed the issue.

[2015-09-28 16:59] michaelstingl opened #68 "[IE 11] Printed PDFs are broken"
A user reported:

### Steps to reproduce
1. Open PDF with IE11
2. Print
### Expected behaviour

Printed PDF should be identical to displayed PDF
### Actual behaviour

<img width="1920" alt="fullscreen_28_09_15_18_49" src="https://cloud.githubusercontent.com/assets/214010/10142300/2c0590de-6612-11e5-9042-9d02f57f56a5.png">
### Server configuration

**ownCloud version:** (see ownCloud admin page)
8.

[2015-09-28 19:02] jataylor99 commented on #63
I'm also getting the same error using Chrome Version 45.0.2454.101 m with OwnCloud server 8.1.  Certain PDFs that used to display a preview before downloading are now coming up blank.  The preview shows the right size and shape of the PDF file, but it's blank.  Upon further inspection in Chrome, it says "Refused to load the image 'blob:https%3A//XXX.XXX.XXX.XXX%3A8443/1cc3d710-b323-4ea5-a389-c0ff3

[2015-09-28 19:20] LukasReschke commented on #68
I suspect this is an upstream issue, can you test with https://mozilla.github.io/pdf.js/web/viewer.html as well?

[2015-09-28 19:22] jataylor99 commented on #63
After digging a little more into Lukas' post, I was able to solve it.  You just need to edit the ../owncloud/apps/files_pdfviewer/controller/displaycontroller.php file and add:

$policy->addAllowedImageDomain('*');

as shown in this post:  https://github.com/owncloud/files_pdfviewer/commit/b46d2cfb9f22fd17d0c92988bff08249ef1b153a

Thanks, Lukas!

[2015-10-01 15:02] frompxkrat opened #69 "shared links which show PDFs shows no pictures on OC 8.1"
hello .. i posted this already here:
https://forum.owncloud.org/viewtopic.php?f=31&t=30751

on the end, i downloaded this repostory and pushed it online .. but the problem is still unsolved

see here .. it's ok with firefox:
in oc 8.04 it shows a shared link correctly .. a PDF with pictures inside:
http://www.technobau.ch/cloud/index.php/s/bbEzLi4N8vj6hPR

or here .. pictures missing with firefox:

[2015-10-01 15:04] LukasReschke commented on #69
Both links do work here on Firefox 41. Please provide more details.

[2015-10-01 15:05] frompxkrat commented on #69
the second one show no pictures .. tested in firefox portable 37, 40, 41

[2015-10-01 15:06] LukasReschke commented on #69
![2015-10-01_17-04-50](https://cloud.githubusercontent.com/assets/878997/10224501/933a89d2-685e-11e5-818c-962f360bc57f.png)
![2015-10-01_17-04-52](https://cloud.githubusercontent.com/assets/878997/10224517/ab344b2c-685e-11e5-907f-85631ee82381.png)

[2015-10-01 15:07] frompxkrat commented on #69
also with portable-versions?
i deleted the cache's .. but still  the problem .. moment

[2015-10-01 15:08] LukasReschke commented on #69
Well. I'm not going to install portable versions on my production system here. Also you should include which OS you're using etc.

[2015-10-01 15:10] frompxkrat commented on #69
1. win 8.1 ..
2. but the problem exist also on an other machine in chrome .. but the 2nd one  is not my machine and somewhere else
3. portable-versions are not installable .. they run directly

[2015-10-01 15:13] frompxkrat commented on #69
there is an other issue with the toolbar in internet-explorer 11 .. it is not possible to scroll, why the owncloud-toolbar is over the pdf-toolbar

[2015-10-01 15:13] LukasReschke commented on #69
Another issue = File a new issue. Also read https://github.com/owncloud/files_pdfviewer/blob/master/CONTRIBUTING.md

[2015-10-01 15:14] frompxkrat commented on #69
in wich system you maked above pistures

[2015-10-01 15:14] LukasReschke commented on #69
OS X 10.11 with Firefox, Chrome behaves the same way.

[2015-10-01 15:19] frompxkrat commented on #69
then it looks only as problem for windows-systems .. difficult?

in my system all chrome-variations works well (commodo, iron, chrome) .. also k-meleon-browser and ie 11 .. but not firefox 37 -41

[2015-10-01 15:20] LukasReschke commented on #69
Please try to apply the changes in https://github.com/owncloud/core/commit/1a167dd5acdbfa771b0a32af93add0ffe5e4884f, the first two files should be sufficient.

[2015-10-01 15:26] frompxkrat commented on #69
yes it works .. incredibel .. like magic .. wau -.. thanks man

[2015-10-01 15:27] LukasReschke commented on #69
Good to know. Patch will be included with 8.1.4 and I still prefer St.Gallen over Zurich area ;-)

[2015-10-01 15:27] #69 closed

[2015-10-01 15:28] frompxkrat commented on #69
;-) .. i can understand, but there is no lake

[2015-10-01 15:29] LukasReschke commented on #69
Can live with that. Keeps the prices down ;-)

[2015-10-01 15:33] frompxkrat commented on #69
LOL .. i am a lake-child .. no possible to be without wather .. sea would be good to ;-)

[2015-10-01 17:34] srvdtrouble commented on #67
Another note as this Firefox display problem still persists.  The same PDF's that we are having trouble with, where some images are displayed with the pdfviewer, can be downloaded and dragged into the firefox browers and the load perfectly.  We have applied the "$policy->addAllowedImageDomain('*');" to our server.  Only fix at this point is to disable security.csp.enable in the about:config.

[2015-10-02 08:32] frompxkrat commented on #69
ist dein vater in der seelsorge tärtig?

[2015-10-05 08:16] michaelstingl commented on #68
@LukasReschke Yes, same problem with https://mozilla.github.io/pdf.js/web/viewer.html.

[2015-10-05 08:20] LukasReschke commented on #68
Probably already filed at https://github.com/mozilla/pdf.js/issues?q=is%3Aopen+is%3Aissue+label%3A4-ie11-specific then - not much we can do :speak_no_evil: :see_no_evil: :hear_no_evil:

[2015-10-05 08:21] LukasReschke commented on #68
Probably https://github.com/mozilla/pdf.js/issues/6415:

:dancers:

[2015-10-05 08:24] LukasReschke commented on #68
Incorrect printing https://github.com/mozilla/pdf.js/issues/3983, see https://github.com/mozilla/pdf.js/issues/3983#issuecomment-140344201:

[2015-10-05 08:27] michaelstingl commented on #68
@LukasReschke I would suggest to "hide" the print button in IE11. Users can download and print it.

[2015-10-05 08:27] LukasReschke commented on #68
So what we have:

- IE crashes when printing huge files: Not fixable. (https://github.com/owncloud/files_pdfviewer/issues/68#issuecomment-145461083)
- IE printes invalid: Fixable. **Requires from our side to volunteer proper testing on all systems and browser combinations out there** (https://github.com/owncloud/files_pdfviewer/issues/68#issuecomment-145461586)

[2015-10-05 08:28] LukasReschke commented on #68
What happens if they press CTRL + P? Can you check as well?

[2015-10-05 08:30] michaelstingl commented on #68
@LukasReschke I could test some Windows/IE combinations. I have many of https://dev.modern.ie/tools/vms/mac/ available for testing on my machine.

[2015-10-05 08:36] michaelstingl commented on #68
@LukasReschke Argh, "CTRL + P" needs to be deactivated too in IE11. This is no "elegant" solution.

[2015-10-09 15:20] schiessle opened #70 "PDF reader should be able to handle exceptions and output a meaningful error message"
follow-up from https://github.com/owncloud/core/issues/12287

[2015-10-13 06:56] nickvergessen opened #71 "Increase version for 9.0"
Just a warning, when stable8.2 is branched off in core (most likely today), the app version should also be increased (first or second digit, to allow updates in stable8.2 later, in case it is needed).

@LukasReschke

[2015-10-14 08:35] LukasReschke commented on #71
Should work fine without version adjustment since we do not have database entries in the application. As the `.travis.yml` is adjusted let's close this.

[2015-10-14 08:35] #71 closed

[2015-10-20 09:28] fritzw commented on #28
I agree that a quick fix would be desirable. However, closing the viewer "when the URL changes" alone is not enough.

As a user, I'd expect the back button to get me back to where I was *before I clicked the PDF file*. Namely, back to the folder where the PDF file resides. Currently, it takes me to *the folder where I was before that* instead (in addition to not closing the PDF viewer). I'd imagin

[2015-11-05 08:53] Helios07 opened #73 "Cannot print in Chrome"
### Steps to reproduce
1. Open a pdf document in the ownCloud Viewer in Chrome
2. Click on the print icon

### Expected behaviour
A printing dialogue should pop up

### Actual behaviour
Only a "preparing document for printing" progress bar appears, then nothing happens anymore

### Server configuration
**Operating system**: Tried with RedHat and Ubuntu

**Web server:** Apache 2.4

**Database:** My

[2015-11-10 23:48] niefra opened #74 "PDF will not open"
hi,

I have a problem opening a pdf -document with chrome or firefox (current version). it works fine with safari and IE.

pdf-files version 1.5 are opened and version 1.4 is not opened. do you have any idea?

I have already tried #65.

thanks
franz

[2015-11-11 17:12] #37 closed

[2015-11-11 17:15] LukasReschke commented on #74
Please provide the file in question to us.

[2015-11-12 20:31] niefra commented on #74
hi,

this is one of them. it is a scan in pdf-format.

franz
[hp_test_scan.pdf](https://github.com/owncloud/files_pdfviewer/files/33316/hp_test_scan.pdf)

[2015-11-13 23:56] team4music opened #75 "Form fields are beeing ignored"
As i said in the title, sadly pdf documents with formulars can't be used. There is not the possibility to click inside of a single form.
I attached some example file

[Unbenannt 1.pdf](https://github.com/owncloud/files_pdfviewer/files/34460/Unbenannt.1.pdf)

[2015-11-17 23:00] muadi opened #76 "OwnCloud PDF Viewer Unable to Download PDF"
Im currently running OwnCloud 8.1.3 and am having issues with PDF Viewer for Safari (Version 8-9).  When a user trys to click the download button in Safari nothing happens, but within Google Chrome for instant it works.   Any ideas?

[2015-11-18 11:49] felixboehm opened #77 "update pdf.js to latest"
I've tested several issues with the pdf viewer app and compared with the latest version here:
http://mozilla.github.io/pdf.js/web/viewer.html

Solved in newest version:
- lot of browser specific issues
- missing images in pdf
- missing images while printing

Is it possible to bump the pdf.js version?

4074

[2015-11-18 11:54] felixboehm commented on #77
@DeepDiver1975
Can I help out doing hands on? Anything to know for that?

[2015-11-20 15:32] michaelstingl commented on #68
@MorrisJobke @LukasReschke Any ideas how to fix this?

00004228

[2015-11-23 15:16] MorrisJobke commented on #68
Manpower to test the printing with the patch on as many as possible browsers and report it upstream.

[2015-11-24 04:16] strugee opened #78 "Open PDF links in a new tab"
When I click on a link in my PDF, nothing happens. Looking at the error console, seems like the linked URL is replacing the PDF document, and it gets blocked by Content Security Policy. The solution is to open links in a new tab.

I'm on PDF Viewer 0.7, ownCloud 8.2.1.

[2015-11-24 20:53] LukasReschke commented on #78
Can you share the PDF file (lukas@owncloud.com) and also tell us which browser do you use?

[2015-11-25 04:59] strugee commented on #78
@LukasReschke shared (hopefully?) via ownCloud federation, from `cloud.strugee.net`. I'm on Firefox Nightly, built 11/24/15. I also know that someone else has reproduced it in Chrome 46 (current stable).

[2015-11-25 05:05] strugee commented on #78
FWIW, the PDF was generated from LibreOffice Writer.

[2015-11-25 08:22] LukasReschke commented on #78
Thanks. I can reproduce with that file. Let me see what I can do about that.

[2015-11-25 20:02] mdonges opened #79 "viewing a pdf, the browser back button does not bring you back to file view"
yes, using the x on the left right corner works around it.
its more intuitive to use the browese back button.

just nice to have, but nice to have ;)

[2015-12-03 15:53] PVince81 commented on #78
Any update ?

[2015-12-03 16:24] PVince81 commented on #77
@LukasReschke can you take care of this ?

[2015-12-07 11:16] felixboehm commented on #77
#82 solves this issues

[2015-12-07 11:16] #77 closed

[2015-12-07 11:32] #78 closed

[2015-12-07 11:43] #76 closed

[2015-12-07 14:26] gg263 opened #85 "Have blank when view shared PDF"
https://drive.google.com/file/d/0B2dnmC72mCeWYU1DYUNiamFLbmM/view?usp=sharing
https://drive.google.com/file/d/0B2dnmC72mCeWWTVEbHgwVTRndUk/view?usp=sharing

Please check, when I visit the shared pdf, there is blank at the bottom.

I have this problem when using chrome Ver.46.0.2490.86 m and Firefox 42.0

Please see attached photo.

[2015-12-07 14:54] LukasReschke commented on #85
Duplicate of https://github.com/owncloud/core/issues/20557

[2015-12-07 14:54] #85 closed

[2015-12-21 10:26] MorrisJobke commented on #79
Fixed in https://github.com/owncloud/files_pdfviewer/pull/80 - will be shipped with 9.0 and 8.2.2

[2015-12-21 10:26] #79 closed

[2015-12-21 23:23] sedrubal opened #89 "Print should be possible via Ctrl+P"
### Steps to reproduce
1. Open a PDF in OwnCloud
2. Hit <kbd>Ctrl</kbd>+<kbd>P</kbd>
3. Print
### Expected behaviour

The PDF should be printed.
### Actual behaviour

Something that looks like the html of the site will be printed.
### Server configuration

**Operating system**: `Ubuntu 14.04`

**Web server:** `Apache 2`

**Database:** `Maria DB`

**PHP version:** `5`

**ownCloud version:** `8.2.1`

[2015-12-22 14:33] cstroe commented on #79
:+1:

[2016-01-04 16:24] MorrisJobke commented on #28
Fixed in 8.2.2 and 9.0.0 - https://github.com/owncloud/files_pdfviewer/pull/80

[2016-01-04 16:24] #28 closed

[2016-01-04 17:46] roha4000 opened #90 "scrolling file lists in public share greater than windows size not possible"
Commit 72069f4e20a7d10fa81f3c19703f8ca895ac8867 introduced a 100% heigth in *css/style.css*. This makes scrolling file lists larger than windows size impossible.

OC Version 8.2.2 EE

**Steps to reproduce**
* create folder
* share folder via link
* create a lot of files / folders in the shared folder
* visit the public link with a separate browser and reduce windows height

The list items cannot b

[2016-01-11 15:49] fuerst commented on #90
Confirm that. See also issues https://github.com/owncloud/core/issues/21373, https://github.com/owncloud/core/issues/21203 and https://github.com/owncloud/core/issues/19886. Possible solution is to have PDF Viewer add a body class and use this to restrict its style to the PDF Viewer. Don't know though if an app can add body classes.

[2016-01-11 16:08] LukasReschke commented on #90
@Henni Thoughts?

[2016-01-12 11:05] mhzawadi commented on #90
Hi all,

This also affects the gallery app from a shared link, removing the css fixes issue.
OC v8.2.2 files_pdfviewer v 0.7

[2016-01-12 11:10] brozkeff commented on #90
I confirm this issue for public shares - behaves the same on Firefox 43 and Chrome 47 on Linux Mint 17.2., Owncloud 8.2.2 and PDF viewer 0.7.

Disabling PDF Viewer 0.7 indeed temporarily serves as a suboptimal workaround. Clearly the other issues mentioned by fuerst are more or less duplicates of this same bug, only the workarounds which CSS to modify differ.

When logged in as user (Firefox 43) n

[2016-01-12 12:44] Henni commented on #90
Is this issue just occurring on 8.2.2 or can anyone also reproduce it on other versions of owncloud?

[2016-01-12 12:50] mhzawadi commented on #90
Hi @Henni,

I only got this issue in OC8.2.2, it was fine in OC8.2.1.
A quick check on the css on 8.2.1 shows a very different style.css.

[2016-01-12 12:51] Henni commented on #90
@mhzawadi thanks

[2016-01-12 12:52] fuerst commented on #90
Same here: at ownCloud 8.2.1 and PDF Viewer 0.7 the height of the #content DIV is set to _initial_ by public.css.

[2016-01-12 13:56] fuerst commented on #90
- Vertical scrolling fixed in file lists accessed by public share link.
- PDF file is displayed with full windows height - no white padding at bottom.

Works - thanks!

[2016-01-12 22:26] #90 closed

[2016-01-22 20:03] LukasReschke commented on #75
We're using pdf.js please report rendering problems at https://github.com/mozilla/pdf.js. Thanks.

[2016-01-22 20:03] #75 closed

[2016-01-26 16:49] tbaptista opened #94 "Problem with shared link on Safari browser"
When loading a shared link that has a pdf file in the Safari browser (version 9.0.3 11601.4.4), I get a blank page, with only the OwnCloud header. The viewer does appear on the screen temporarily (fraction of a second), but then disappears. This only happens if the public link is used to open the file, not if we open directly from the file list in owncloud.

By removing the changes introduced by c

[2016-02-07 16:49] Shadow-X2 opened #95 "PDF Viewer doesn't load"
Steps to reproduce
1. open pdf file in owncloud
2. pdf viewer does not load

Expected behaviour
Pdf viewer should load and display pdf

Actual Behavior
blank screen (attached png)
![owncloud blank screen](https://cloud.githubusercontent.com/assets/17110632/12873587/1f1b84de-cd8f-11e5-90dd-9dfc3c7df78e.png)
Tested on firefox 44.0 chrome 48 opera 34

Server configuration
ubuntu 14.04
apache 2.4.7
my

[2016-02-07 17:18] ErikPel commented on #95
Can you open your javascript console and give us the output if there is any?
To get the console use one of these hotkeys depending on your browser:
Ctrl + Shift + J on chrome
Ctrl + Shift + K in firefox

[2016-02-07 18:08] Shadow-X2 commented on #95
The javascript console output is below, It pointed me in the right direction. I had an nginx proxy setup in front of the server running owncloud.

nginx proxy had add_header X-Frame-Options DENY; set, which was disabling the frame from loading.

I changed the option to SAMEORIGIN
add_header X-Frame-Options SAMEORIGIN;

That fixed the problem.

Thanks ErikPel

Using //@ to indicate sourceMappingURL

[2016-02-07 18:16] ErikPel commented on #95
Glad you got it fixed :)

[2016-02-07 18:20] #95 closed

[2016-02-09 14:27] butonic commented on #68
All we can do is try [the upstream patch](https://github.com/mozilla/pdf.js/pull/6160) and giving our users an eusy way to test this. Probably by shipping [the paper rulers](http://www.vendian.org/mncharity/dir3/paper_rulers/)?

[2016-02-22 09:54] PVince81 opened #97 "PDF viewer MUST NOT change CSS that affects core/public page"
The PDF preview should add a CSS class on the body, specific to the PDF viewer.
And only do this whenever the PDF preview is active.

[2016-02-24 14:45] michaelstingl commented on #68
@MorrisJobke What is the status here?

[2016-02-24 15:17] MorrisJobke commented on #68
I will create an downstream patch for this.

[2016-02-24 15:18] MorrisJobke commented on #68
@michaelstingl On my list, but very low pro :(

[2016-03-05 14:14] bitsavvy opened #102 ".pdf File not opening"
Hi there,

We get the following error when trying to open a .pdf file:
PDF.js v1.0.712 (build: 6969ed4)
Message: InvalidPDFException

We are on the latest version of Owncloud 8.2.2 -- tested in Firefox & Safari and getting the same erro in both.

Could you possibly assist?

Kind regards
Francois Wessels

[2016-03-05 14:16] bitsavvy opened #103 "Owncloud sync client on Mac not uploading .pdf files"
Hi there,

We have an issue with the sync client on Mac -- .pdf files are not being synced. We can even sync .numbers files for Mac but .pdf's are not syncing up.

We are on latest versions of Owncloud and the client.

Kind regards
Francois Wessels

[2016-03-05 19:30] LukasReschke commented on #103
Please reopen in the client repository.

[2016-03-05 19:30] #103 closed

[2016-03-05 19:40] LukasReschke commented on #102
Please provide the PDF file.

[2016-03-06 14:24] bitsavvy commented on #102
Hi there,

Thanks for the reply -- even the standard OwnCloud User Manual does not open. Other documents are client sensitive so cannot really provide you with examples but here is the manual. Don't know if that will help?

What is further worrying that immediately after the error occurs I am logged out of owncloud and must login again if I want to continue.

Any help will be greatly appreciated.

[2016-03-06 21:38] LukasReschke commented on #102
That is strange and seems more like an environment specific issue. Any chance you can provide me with an user account on that instance? You can find my mail address in my profile.

[2016-03-09 08:19] xinqianli opened #105 "How about supporting all Office document preview via on-the-fly converting pdf?"
How about supporting all Office document preview via on-the-fly converting pdf, just as OpenKM? We often need to preview instead of download.

[2016-03-10 10:25] OneimadO opened #106 "Problem with PDF Viewer in WEB"
Hi everybody,

I have some problems with the PDF Viewer in my owncloud installation, at the beginning we have no problem with it but since two days when i try to open a pdf i have this:

http://image.noelshack.com/fichiers/2016/10/1457604996-owncloud-server-8-2-owncloud-forums-mozilla-firefox.jpg

When i download this PDF in Adobe it's fine and i have no bug.

Thanks in advance.

[2016-03-10 10:28] LukasReschke commented on #106
@OneimadO Please upload the PDF as well. We can't debug this otherwise.

[2016-03-10 10:32] OneimadO commented on #106
All my PDF are impacted, 2 days ago my PDF works.

[2016-03-10 14:20] OneimadO commented on #106
[MONTP ETUDE ENVIRONNEMENTALE.pdf](https://github.com/owncloud/files_pdfviewer/files/167274/MONTP.ETUDE.ENVIRONNEMENTALE.pdf)

An example

[2016-03-14 20:34] Peac commented on #102
I have the same problem on ownCloud version 8.2.3.

[2016-03-20 00:09] don-philipe commented on #102
Had the same problem recently with ownCloud 8.2.2. It occured in a shared folder for the account with whom the folder was shared. After recreating that account and sharing again with the account the error was gone an everything was alright then.
Maybe this is a problem with server-side encryption after changing the shared-with-accounts password? The following error showed up in my log:

` Error 	n

[2016-03-23 09:41] don-philipe commented on #102
Well, I have to correct my previous post. The problem has nothing to do with server-side-encryption.

I found out that the problem is more browser related as shown in [this](https://github.com/mozilla/pdf.js/issues/6790) issue. Setting `network.cookie.cookieBehavior` in Firefox config to `0` solves the problem. Alternatively one can set an Exception for the website.

[2016-04-20 14:48] yurydelendik opened #107 "Update PDF.js to version 1.3.91 or above."
See available releases at https://github.com/mozilla/pdf.js/releases

[2016-04-20 15:51] LukasReschke commented on #107
Will do. Thanks for the hint :)

[2016-04-25 03:15] blacktuxedoz commented on #106
Hi everyone,

first of all sorry for my bad english,recently i found a problem when showing any pdf files on firefox.
since there is a lot of issues about PDF not showing, unexpected server response, etc.

this step is not very smart for all masters here, but it work for me though.

i'm using firefox 45.0.2.
here's the step:

1. go to help on firefox choose troubleshoot information.
2. try safe mo

[2016-04-25 18:13] tradge opened #114 "Owncloud pdf viewer not showing data in forms."
Here is a screenshot of the preview
http://imgur.com/lNepi0Y

Here is the actual file with data filled in.
[MLF_1040616_Letterhead&Envelope.pdf](https://github.com/owncloud/files_pdfviewer/files/235109/MLF_1040616_Letterhead.Envelope.pdf)

[2016-04-29 12:33] dirkpape opened #115 "Update pdfjs to current stable due to umlaut Bug"
With the currently included version of pdf.js (1.1.469)in ) oc 9.0.1 some Umlauts in German documents are not printed correctly.
I tested the current stable version of pdf.js (1.4.20) and it does well.
Will it be possible to bump up the version already for the next minor release of owncloud or will we have to wait for 9.1 - which would be a pity.

![voila_capture 2016-04-29_02-25-17_pm](https://cl

[2016-05-10 19:45] groniu opened #116 "tools button missing in templates/viewer.php"
Why did you remove tools button ? It can coexist well with close button.
Can we have it back ?

[2016-05-24 19:47] michaelstingl commented on #68
Printing with files_pdfviewer from IE11 still sucks in 9.0.2.

@butonic @MTRichards Any idea?

@cmonteroluque Could we get this covered by QA?

[2016-05-26 15:51] cmonteroluque commented on #68
assigned to @jvillafanez to follow up. @rperezb ping

[2016-06-01 12:26] rperezb commented on #68
@cmonteroluque what is the milestone of this one?

[2016-06-10 07:15] qwazix commented on #116
You can go add

        <button id="secondaryToolbarToggle" class="toolbarButton" title="Tools" tabindex="36" data-l10n-id="tools">

in `apps/files_pdfviewer/templates/viewer.php` line 190 to bring it back. No other change is required.

Please bring it back officially however.

[2016-06-10 07:54] groniu commented on #116
Yeah, I've added on our OC installations at the time I've posted above but it would be easier not to have to add it after each upgrade. Its "'crucial" feature for some our users.

[2016-06-21 10:35] PVince81 commented on #38
Works for me in 9.1.0beta2

[2016-06-21 10:35] #38 closed

[2016-06-24 19:18] wbonifacio opened #118 "Incremental backup on ownCloud"
The most important file that I have on my ownCloud server is my operational system database and its size is increased every day. During the synchronization process this file size changes often and can not be synchronized . Once you stop working, full synchronization starts, would be excellent if only upload the file changes. This file is 572MB and takes a long time to load limiting my bandwidth.

[2016-06-25 14:28] DeepDiver1975 commented on #118
This definitely the wrong repo. Please reopen in core or at the Forums.

[2016-06-25 14:31] #118 closed

[2016-07-18 12:46] PVince81 commented on #68
Let's update pdf.js in 9.0.5 then

[2016-07-22 07:19] #94 closed

[2016-07-23 11:16] dirkpape commented on #115
still not fixed in 9.1 :-(

[2016-07-23 21:45] ansemjo opened #119 "Viewer fails to download PDF with CSP error in Firefox"
### Steps to reproduce
1. Open any PDF in the PDF Viewer app
2. Click the download button in the top right corner
### Expected behaviour

File saving dialog should appear, prompting for name/path to save to or otherwise define an action to take.
### Actual behaviour

Nothing happens. Console logs a CSP error:

[code]

Directly downloading from file list works fine.
### Server configuration

Tested

[2016-07-29 08:41] BornToBeRoot commented on #68
Same problem in IE 11 / Chrome 51

Seems like documents who are created with PDFCreater are broken.

Download and print in Adobe Reader is working fine.

[2016-08-09 09:38] groniu commented on #116
Please consider to bring it back after each upgrade i need to add it. I dont think it can brake anything

For others who need it add following code in `apps/files_pdfviewer/templates/viewer.php` after line 189 to bring back tools button

`<button id="secondaryToolbarToggle" class="toolbarButton" title="Tools" tabindex="36" data-l10n-id="tools">
                <span data-l10n-id="tools_label">Tool

[2016-08-10 16:47] demaperera opened #122 "Special Characters in Filename cause 404 File Not Found Error"
**ownCloud v9** - Clicking the PDF file named _'ownCloud Manual'_ causes a 404 File Not Found error in pdf.js. Renaming the file to _'ownCloud'_ (without spaces) causes it to display correctly in the viewer. A weird layout issue also happens when this error is thrown, see the screenshot below.

![screen shot 2016-08-10 at 10 16 19 pm](https://cloud.githubusercontent.com/assets/11702548/17562353/23

[2016-08-16 08:01] aeneby opened #123 "Enable "deep linking" to shared PDFs in OwnCloud"
PDF.js appears to support linking to specific destinations in a PDF using "#page=x" or "#nameddest=y" in the URLs, but I can't seem to achieve the same thing using OwnCloud's pdfviewer. Is it possible to pass these parameters on to PDF.js?

[2016-08-23 06:17] dirkpape commented on #115
will this be fixed for oc 9.2 or nextcloud 10?

[2016-08-23 06:50] DeepDiver1975 commented on #115
@dirkpape you are welcome to contribute and submit a pull request - THX

[2016-09-11 10:43] dirkpape commented on #115
@DeepDiver1975 Sorry, I would like to, but I am not able to do so (from time and from lack of experience in owncloud development). I also understood that @LukasReschke  self-assigned this already.

[2016-09-11 10:47] LukasReschke commented on #115
I'm not anymore with ownCloud.

[2016-09-14 13:31] tfrdidi commented on #68
Have the same problem. Independent from the settings of IE11, both vanilla and company adjustments. But for me it works well on Firefox 45.3 (although it appends a white page) and Chrome 53. Could I deliver any further information on my settings that might help?
Should the milestone be updated? 9.0.5 is done.

[2016-09-17 18:59] #47 closed

[2016-09-17 18:59] #48 closed

[2016-09-20 08:43] DeepDiver1975 commented on #122
Which version are you using?

I cannot reproduce this with master.

[2016-09-20 08:50] DeepDiver1975 commented on #114
It I open the pdf locally with the desktop app I also don't see the data.
Only once the test is selected.

[2016-09-21 12:31] PVince81 commented on #50
Cannot reproduce on 9.1.1

[2016-09-21 12:31] #50 closed

[2016-09-21 17:02] michaelstingl commented on #107
I've seen the latest release is: [v1.4.20](https://github.com/mozilla/pdf.js/releases)

@PVince81

00006176

[2016-09-22 07:53] PVince81 commented on #107
Tried to update to 1.4.20 and then 1.5.188 (prerelease).

But this breaks. The PDF viewer refuses to use our own provided PDFJS.workerSrc.

Well, pdf.js does read the value, but later on when the viewer.js initializes, it completely overrides the value of PDFJS.workerSrc with a relative path that cannot work.

Not sure yet if it's an upstream bug or whether we need to do this differently.
I'll sub

[2016-09-22 07:56] PVince81 commented on #107
PR here https://github.com/owncloud/files_pdfviewer/pull/126

[2016-09-26 10:15] #49 closed

[2016-09-26 10:15] #61 closed

[2016-09-27 00:14] aeneby commented on #123
Ping?

[2016-10-04 07:27] #107 closed

[2016-10-06 10:32] #62 closed

[2016-10-06 10:32] #70 closed

[2016-10-11 15:41] #73 closed

[2016-10-11 15:41] #74 closed

[2016-10-14 07:23] r4a5a88 opened #127 "pdf viewver funktioniert hinter reverse proxy nicht"
Hallo

ich habe owncloud hinter einem Apache Reverse Proxy
und wenn ich ein PDF öffne kommt das dabei raus.
![ausschnitt](https://cloud.githubusercontent.com/assets/22817846/19378873/580f3ec8-91ef-11e6-899d-7a097fd0fab5.PNG)

ich habe zu testzwecken das owncloud manual genommen.
im Firefox analyse tool kommt das raus

Error: No PDFJS.workerSrc specified
throw new Error(msg);

das ist die konfig vo

[2016-10-14 10:41] r4a5a88 commented on #127
I have owncloud behind a reverse proxy and when I open a pdf file it does not open, as you can see from the top picture.
the proxy is in the owncloud config just as described

[2016-10-18 13:11] r4a5a88 commented on #127
solved it myself
I needed to diable the proxy html mod on apache

[2016-10-18 13:11] #127 closed

[2016-10-20 09:50] PVince81 commented on #68
pdfjs was upgraded in 9.2 pre-alpha: https://github.com/owncloud/files_pdfviewer/pull/126

Can you check whether your PDFs work with that version ? You can grab a daily here: https://download.owncloud.org/community/daily/owncloud-daily-master.tar.bz2

[2016-11-30 10:53] PVince81 commented on #68
I'm not too keen on backporting library updates

[2016-12-16 21:27] jclgs opened #128 "PDF Viewer in Web not displaying content"
Version: Owncloud 9.1

Here is the content of a PDF open from Adobe Reader.
![image](https://cloud.githubusercontent.com/assets/24614035/21279010/24347ade-c3ac-11e6-8c9c-fe32a628c9f9.png)

Here is the same content of a PDF open with the PDF viewer in OwnCloud.
![image](https://cloud.githubusercontent.com/assets/24614035/21279035/4d157980-c3ac-11e6-9ffb-c4ed6bd1f764.png)

You can see the color is n

[2017-01-18 07:46] tfrdidi commented on #68
Will the new pdfjs be part of the next stable owncloud release?

[2017-01-18 09:45] PVince81 commented on #68
Before it can be backported, people should report whether the upgrade fixed the problem on master / daily, see https://github.com/owncloud/files_pdfviewer/issues/68#issuecomment-255061105

[2017-01-20 21:59] jclgs commented on #128
Discover the issue is only in Chrome. Firefox works well. IE works well too.

[2017-01-20 22:01] jclgs commented on #128
Also did a test with the Chrome Extension and the issue there too.

[2017-01-27 13:53] jclgs commented on #128
We found the issue.

The issue is related with Chrome only and when the PDF is using Symbol Layer. As soon as we unlink Symbol Layer and generate a new PDF, the second picture with missing information is now printing the text?

Is it possible to get Symbol Layer working in  Chrome. It works in IE, Fifefox, Safari but not Chrome, one of the most use browser.

Waiting answer.
Thanks

[2017-02-02 08:01] PVince81 commented on #128
Please first try with the master version of the files_pdfviewer where the pdfjs library was updated. If that still doesn't work, might need to upgrade pdfjs again or submit a bug report directly to the pdfjs project.

[2017-02-05 17:15] kdslkdsaldsal commented on #128
@jclgs @PVince81 Upstream report confirmed that those are bugs in Firefox and Chrome so this issue can be closed: https://github.com/mozilla/pdf.js/issues/8019

[2017-02-05 17:21] ghost opened #130 "Bump pdfjs to v1.6.210 for oC 10"
With https://github.com/owncloud/files_pdfviewer/issues/107 pdfjs was bumped to v1.4.20 IMHO this version is already outdated and at the time of the release of oC 10 nearly 15 months old.

Please consider bumping the pdfjs version to the latest stable release v1.6.210:

https://github.com/mozilla/pdf.js/releases/tag/v1.6.210

to avoid that such outdated components are shipped with oC 10

[2017-02-05 18:48] kdslkdsaldsal commented on #130
@jclgs in https://github.com/owncloud/files_pdfviewer/issues/128 seems to have bumped the version of pdfjs to 1.6.210 within the app and it worked without the need to modify stuff like in #107

[2017-02-06 06:52] PVince81 commented on #128
Hmm, but once they fix it we need to update the bundled pdfjs lib so it work in ownCloud too.

[2017-02-06 06:53] PVince81 commented on #128
ok closing as dup of https://github.com/owncloud/files_pdfviewer/issues/130

[2017-02-06 06:53] #128 closed

[2017-02-06 08:22] kdslkdsaldsal commented on #128
@PVince81

I might be wrong but if i'm reading https://github.com/mozilla/pdf.js/issues/8019 correctly both issues are browser bugs in Chrome and Firefox so it might be not needed to update the bundled pdfjs.

[2017-02-07 15:20] TheMrApostel commented on #68
I suspect that i wont be able to test that on my nextcloud Installation?

[2017-03-28 13:18] felixboehm commented on #119
quick guesses:
1. https://github.com/owncloud/files_pdfviewer/blob/master/js/previewplugin.js#L150
2. https://github.com/owncloud/files_pdfviewer/blob/master/vendor/pdfjs/web/compatibility.js#L440

Can you set a js breakpoint and check these code pathes?

[2017-03-28 14:19] dercorn commented on #119
Replacing https://github.com/owncloud/core/blob/master/lib/public/AppFramework/Http/EmptyContentSecurityPolicy.php#L375 with
$policy .= ' blob:;';
fixed this issue for me.
Thanks to @felixboehm for pointing this out!

[2017-03-28 14:23] PVince81 commented on #119
Mind submitting this as PR ? Thanks

[2017-04-07 10:21] PVince81 commented on #130
Updated here https://github.com/owncloud/files_pdfviewer/pull/137 without further modifications.

A quick test with a simple PDF shows that it doesn't work.

Sadly, it seems it will still need to add back the previous hacks.

[2017-04-13 12:46] PVince81 commented on #119
PR here https://github.com/owncloud/core/issues/27538

[2017-04-26 19:45] dpitulski opened #138 "Add Rotate to PDF viewer"
This is a slick interface and I am looking to use OC with the PDF viewer for a paperless project and would like to see a rotate PDF feature added.

Thank you.

[2017-05-05 12:56] felixboehm commented on #68
Is this still an issue in ownCloud version 9.1 or 10 ?
@davitol please test.

[2017-05-29 13:49] #119 closed

[2017-06-22 10:45] zumodevidrio opened #140 "Cannot view pdf content from web browser when shared by link"
OC version: 9.1.6

When sharing by link a pdf in OC9 I cannot see its content directly through web browser if I am not logged in my OC instance.

If I'm logged in, I can see it with no problem, but if I'm not logged in I can download the pdf but I can't see its content in my browser.

I have tried with several pdf files and different web browsers and OS and the issue is still there.

The same is w

[2017-06-22 13:34] #140 closed

[2017-08-18 10:53] voroyam opened #141 "Feature request: Disable pdf.js on iOS devices"
To avoid users trying to print their pdf documents when using the webUI on an iOS device, we should disable the pdf.js.

[2017-08-18 10:59] michaelstingl commented on #141
I know no use case, where the JS-rendered PDF is better than the iOS system-default PDF viewer. Better show the PDF directly.

You only have limitations, like the problem @voroyam describes:
![img_0067](https://user-images.githubusercontent.com/214010/29456180-dde96b8c-8414-11e7-95f3-01b9493adc46.png)

**Workaround:**
Don't click the "Print" button, click the "Download" button instead. Then you ca

[2017-11-09 13:42] SergioBertolinSG opened #142 "It is not possible to exit the pdf view"
### Steps to reproduce

1. Open a pdf file.
2. Try to exit. (Not clicking on the cloud, not going back)

### Expected behaviour
You can exit the viewer.

### Actual behaviour
Exit is not possible.

![screen shot 2017-11-09 at 14 35 58](https://user-images.githubusercontent.com/9048796/32608211-ef355d46-c55b-11e7-9cdc-5294b0b2089c.png)

### Server configuration

**Operating system**:
Ubuntu 16.04

[2018-02-20 11:56] rschitz commented on #142
i just updated from 9.x and it's very disturbing to use the "go back" button of the broswer instead of the exit cross like we used to. thanks for your help.

[2018-03-17 10:58] prsnbrg commented on #142
I have the same problem with oC 10.0.3. Please fix it fast.

[2018-04-23 18:34] thesofty commented on #142
Pleas fix this bug. I'm also using oc 10.0.3
This is a real annoying bug when searching a particular document.

[2018-05-03 21:56] felixboehm commented on #122
solved meanwhile

[2018-05-03 21:56] #122 closed

[2018-05-09 17:13] mmattel opened #144 "php-cs-fixer"
@DeepDiver1975
Any plans to implement ``php-cs-fixer`` as we have in core ?

[2018-06-12 12:48] PVince81 opened #145 "Upgrade PDF JS"

[2018-06-12 12:48] PVince81 commented on #130
Reopened here: https://github.com/owncloud/files_pdfviewer/issues/145

[2018-06-12 12:49] #130 closed

[2018-06-12 12:49] PVince81 commented on #145
See https://github.com/owncloud/files_pdfviewer/issues/130 for previous attempt.

It is likely that we'll need to tinker with this JS or HTML to make it work...

If you have ideas how to do it better and avoid these changes in future updates, please let us know.

[2018-06-18 14:28] PVince81 commented on #145
we can use the opportunity to try and add bower maybe, if that makes sense, to facilitate future upgrades.

however if patching is still needed as it was before, I'm not sure if it will work.

[2018-06-21 12:27] PVince81 opened #148 "PDF Viewer 0.9.0 release"
When marking a task as done, please add your name to the task!

### Reason
- [x] PDFJs lib updated: https://github.com/owncloud/files_pdfviewer/pull/146
- [x] 'Close' button fixed, added close on `Esc` key. #149

### QA
- [x] Create release branch @davitol
- [x] Create "$version Testplan" @davitol https://github.com/owncloud/files_pdfviewer/issues/150
- [x] Test and document in testplan => Final "

[2018-06-21 16:48] VicDeo commented on #142
Workaround: `alt+left` which is a shortcut for `Back` action

[2018-06-21 17:29] rschitz commented on #142
My workaround was to migrate to nextclood

On 21 Jun 2018, at 18:49, Viktar Dubiniuk <notifications@github.com<mailto:notifications@github.com>> wrote:

Workaround: alt+left which is a shortcut for Back action

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/owncloud/files_pdfviewer/issues/142#issuecomment-399170512>, or mute the t

[2018-06-25 10:34] PVince81 commented on #142
@VicDeo please have a look (0.5md)

[2018-06-25 10:36] DeepDiver1975 commented on #142
alternative solution: open the doc in a browser tab on it's own

[2018-06-25 16:02] VicDeo commented on #115
Fixed with https://github.com/owncloud/files_pdfviewer/pull/146

[2018-06-25 16:02] #115 closed

[2018-06-26 18:09] VicDeo commented on #142
Fixed with https://github.com/owncloud/files_pdfviewer/pull/149

[2018-06-26 18:09] #142 closed

[2018-06-26 18:09] VicDeo commented on #116
Fixed with https://github.com/owncloud/files_pdfviewer/pull/149

[2018-06-26 18:09] #116 closed

[2018-06-29 15:45] PVince81 commented on #68
PDFJs lib was updated in https://github.com/owncloud/files_pdfviewer/pull/146, please try again once 0.9.0 is released

[2018-06-29 15:45] #68 closed

[2018-06-29 15:49] PVince81 commented on #148
@patrickjahns I've moved relevant closed issues/PRs to the newly created QA milestone.

This is ready to go to QA when time permits.

[2018-07-11 09:34] davitol opened #150 "Tracking Test results for PDF Viewer 0.9.0 release"
## 'PDF Viewer' Test Plan

- Run Testplan with all supported browsers: Internet Explorer 11, MS EDGE, Mozilla Firefox, Chrome and Safari.

## Testing functionality with Internet Explorer 11

Test Case | Expected Result | Result | Related Comment
------------- | -------------- | ----- | ------
**CLI commands** |  |   |
|  |   |
Enable files_pdfviewer app via CLI using ```occ app:enable files_pdfvie

[2018-07-12 08:41] davitol opened #151 "Files_pdfviewer is not able to open a pdf file using branch release-0.9.0"
Using files_pdf_viewer branch: https://github.com/owncloud/files_pdfviewer/tree/release-0.9.0 and ownCloud 10.0.9.RC3

Trying to open a pdf file, the browser do not show the file content

![screen shot 2018-07-12 at 10 01 20](https://user-images.githubusercontent.com/10596560/42622042-ac47907e-85bf-11e8-8132-2a924f7e02ef.png)
![screen shot 2018-07-12 at 10 00 35](https://user-images.githubusercont

[2018-07-17 09:03] PVince81 commented on #151
Fixed in https://github.com/owncloud/files_pdfviewer/pull/152

[2018-07-17 09:03] #151 closed

[2018-07-17 12:33] #150 closed

[2018-07-17 20:46] nextroom commented on #114
Hi Thomas, thanks for your work.
I have the same problem, if you download the pdf of the second link you will see that it is filled.
The same thing happens to me with the completed pdf.
sometimes I simply change the characters, for example instead of showing a "5" it shows an "R" or instead of showing a "0" it shows the "M".

thank you for your help

[2018-07-18 11:23] felixheidecke opened #153 "jQuery Core 1.9 Upgrade Guide"
# jQuery Core 1.9 Upgrade Guide

Changes of Note in jQuery 1.9
See the full [upgrade guide at jquery.com](http://jquery.com/upgrade-guide/1.9/)

## Removed
## Minor

`.click()`

- [ ] /js/previewplugin.js
- [ ] /js/vendor/pdfjs/web/viewer.js

`.focus()`

- [ ] /js/vendor/pdfjs/web/viewer.js

`.data()`

- [ ] /js/vendor/pdfjs/web/viewer.js

`.focus()`

- [ ] /js/vendor/pdfjs/web/viewer.js

`.attr()

[2018-07-18 12:57] PVince81 commented on #153
pdfjs runs in an iframe AFAIK so we could ignore the ones in there

@VicDeo

[2018-07-18 12:59] VicDeo commented on #153
@PVince81 not exactly. there is a JS that registers handlers by mime type

[2018-07-18 13:17] PVince81 commented on #153
@VicDeo yes, but the files listed in the original post are the ones that run inside the PDFJS iframe, so its jquery version is isolated so we shouldn't need to check that it's compatible with core's jquery ?

[2018-07-18 13:18] PVince81 commented on #153
all except `js/previewplugin.js` of course, this one we need to examine

[2018-07-19 07:14] PVince81 commented on #138
The interface is just a wrapper for the PDF.js library from Mozilla: https://mozilla.github.io/pdf.js/

I suggest you send your request there to add a button for rotation so ownCloud will get it once we update the library again.

[2018-07-19 07:14] #138 closed

[2018-07-19 07:15] PVince81 commented on #123
From where would you get such link ? We can't expect users to manually craft such links.

If there is a way, please describe detailed steps.

[2018-07-19 07:17] PVince81 commented on #114
We've updated pdf.js, please try again with the 0.9.0 version of the app.

This is likely an upstream issue.

I also wonder whether the data is really saved inside the PDF file or just cached somewhere on the local computer.

[2018-07-19 07:17] #114 closed

[2018-07-19 07:17] PVince81 commented on #114
upstream: https://github.com/mozilla/pdf.js

[2018-07-19 07:17] PVince81 commented on #106
please try again with 0.9.0 as we've updated the [pdf.js](https://github.com/mozilla/pdf.js) library

[2018-07-19 07:17] #106 closed

[2018-07-19 07:17] PVince81 commented on #102
please try again with 0.9.0 as we've updated the [pdf.js](https://github.com/mozilla/pdf.js) library

[2018-07-19 07:17] #102 closed

[2018-07-19 07:19] PVince81 commented on #105
Office documents can already be previewed using Collabora or OnlyOffice.

There is no clear benefit to converting to PDF.

Also, this app is just a wrapper around [pdf.js](https://github.com/mozilla/pdf.js).
Anything that would require conversions is more involved and outside the scope of this app. (could be a different app)

[2018-07-19 07:19] #105 closed

[2018-07-19 07:21] #148 closed

[2018-07-24 13:57] VicDeo commented on #153
No issues have been found

[2018-07-24 14:13] #153 closed

[2018-08-01 01:46] aeneby commented on #123
This was reported almost 2 years ago. Please just close the issue.

[2018-08-01 08:38] #123 closed

[2018-08-28 12:42] felixheidecke opened #158 "jQuery UI Upgrade"
# jQuery UI Upgrade

See the full [upgrade 1.11. guide](https://jqueryui.com/upgrade-guide/1.11/)

See the full [upgrade 1.12. guide](https://jqueryui.com/upgrade-guide/1.12/)

## [1.11] (Core) Deprecated multiple

`.focus()`

- [x] js/vendor/pdfjs/web/viewer.js

## [1.12] (Core) Removed multiple

`.focus()`

- [x] js/vendor/pdfjs/web/viewer.js

[2018-08-29 08:55] PVince81 commented on #158
focus usages unrelated

[2018-08-29 08:55] #158 closed

[2018-09-05 07:49] davitol opened #160 "Drone setup"
Move from Travis to Drone

[2018-11-21 05:10] devi69 opened #162 "Japanese is not displayed in PDF created with MAC OS X"
### Steps to reproduce
1.Create PDF file with macOSX
2.Upload to ownCloud
3.Browse PDF with the files_pdfviewer application

Uploaded test file
[mac_text_editor.pdf](https://github.com/owncloud/files_pdfviewer/files/2602686/mac_text_editor.pdf)

### Expected behaviour
PDF is displayed correctly including Japanese characters

### Actual behaviour
Japanese part is displayed as blank

In ownCloud 9.1

[2018-11-26 20:49] PVince81 opened #164 "[For Semver] PDF Viewer 0.10.0"
### Reason
- Set max-version to 10 for Semver
- PHP 7.2 support

### QA
- [ ] Create **QA Milestone**
- [ ] Move items from `development` to `qa`
- [ ] Create release branch with the format "release-$version"
- [ ] Create "$version Testplan"

### Documentation
- [ ] Changes in the docs needed?

### Marketing
- [ ] Ping RocketChat channel #marketing
- [ ] Check/adapt info.xml stuff
- [ ] Check/adap

[2018-11-29 14:41] PVince81 commented on #164
@DeepDiver1975 please upload to marketplace https://cloud.owncloud.com/index.php/s/Jp5ueBXTRbq9iIe

changelog here: https://github.com/owncloud/files_pdfviewer/blob/release-0.10.0/CHANGELOG.md

[2018-12-03 12:39] felixheidecke opened #166 "jQuery 3 Upgrade"
# jQuery 3 Upgrade

See the full [upgrade 3.0 guide](https://jquery.com/upgrade-guide/3.0/)

## Event

`.load()`

- [ ] /js/previewplugin.js

[2018-12-06 12:00] phil-davis commented on #160
and standardize CI (``Makefile`` ...)
and implement owncloud-coding-standard.

[2018-12-19 08:14] phil-davis commented on #160
All done

[2018-12-19 08:14] #160 closed

[2018-12-19 08:15] phil-davis commented on #144
Done in issue #160 and PR #168

[2018-12-19 08:15] #144 closed

[2019-01-11 11:40] Chrisb242 opened #171 "Printing-Issue using Internet Explorer"
Printing a PDF from pdfviewer in IE11 results a wrong printed page. The page-margins are not correct and the content is printed after a pagebreak. In page header the text "PDF.js viewer" is printed.

[2019-04-05 15:13] PVince81 opened #178 "PDF viewer 0.11.0"
This is the server app release template, please copy the part below in a new ticket.
For instructions around app releases, see https://handbook.owncloud.com/releasing_apps.html

### Reason

- [x] PDF JS update: https://github.com/owncloud/files_pdfviewer/pull/177

### QA

- [x] Create **QA Milestone**
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-

[2019-04-08 07:29] PVince81 commented on #178
I'll branch this off the old tag to avoid the PHP limitation as we want this update to be compatible with OC < 10.2

[2019-04-08 07:37] PVince81 commented on #178
RC1 failed, was missing changelog

RC2 here: https://github.com/owncloud/files_pdfviewer/releases/tag/v0.11.0RC2

@phil-davis can you smoke test ?

[2019-04-12 01:36] phil-davis opened #179 "Test PDF viewer release 0.11.0"
## 'PDF Viewer' Test Plan

- Run Testplan with all supported browsers: Internet Explorer 11, MS EDGE, Mozilla Firefox, Chrome and Safari.

Note: testplan has been run with Firefox and Chrome

## Testing functionality

Test Case | Expected Result | Result | Related Comment
------------- | -------------- | ----- | ------
**CLI commands** |  |   |
|  |   |
Enable files_pdfviewer app via CLI using ```

[2019-04-12 02:07] phil-davis opened #180 "download of PDF file received as public link has name document.pdf"
1) public link share a PDF file individually, e.g. `sample.php`
2) access the link
3) download the file using the ownCloud "Download" button
4) the file is downloaded with name `sample.php` - good
5) download with the download icon in the PDF viewer controls

### Actual behaviour
The downloaded file is called `document.pdf`

### Expected behaviour
The downloaded file is called `sample.pdf`

Tested

[2019-04-12 03:18] phil-davis commented on #178
@PVince81 0.1.0RC2 looks good. Test results in #179
One minor issue that I noticed #180 - and that is not a regression, it happens in 0.9.0 and 0.10.0 also.

[2019-04-12 07:28] #179 closed

[2019-04-12 07:28] PVince81 commented on #178
cool, thanks.

[2019-04-12 07:41] PVince81 commented on #178
last PR for merge back https://github.com/owncloud/files_pdfviewer/pull/181

[2019-04-12 07:54] #178 closed

[2019-05-20 08:56] PifPof73 commented on #75
Seems still an issue.
I have posted it to the pdf.js team:
[https://github.com/mozilla/pdf.js/issues/10836](url)

[2019-06-06 15:37] cdamken opened #183 "Upgrade the PDF JS"
Please upgrade the version 2.0.30 from 2019

[2019-06-09 15:21] micbar commented on #183
@VicDeo The customer wants to open attachments inside pdf documents. He tested it with th version 2.3.0 of pdfjs.

Could we upgrade the library? This seems like a breaking change.

Please clarify.

[2019-06-10 14:09] VicDeo commented on #183
@cdamken @micbar 2.3.0?
pdf.js project has Pre-release  v2.1.266 and Latest release v2.0.943 at the moment
https://mozilla.github.io/pdf.js/getting_started/#download
https://github.com/mozilla/pdf.js/releases

[2019-06-14 14:51] cdamken commented on #183
Could you test it with the latest version?

[2019-06-14 15:54] VicDeo commented on #183
@cdamken We use the latest v1 release. Blind switching to v2  breaks the viewer.

[2019-06-14 15:59] VicDeo commented on #183
ok, 2.0 is not an option - it has unsafe evals inside that are blocked by our default CSP policy:
[code]
We can't loose the default CSP policy, trying with 2.1 which has a Beta status currently

[2019-06-14 20:57] micbar commented on #183
@VicDeo Ok, lets see what 2.1 is capable of.

[2019-06-14 21:04] VicDeo commented on #183
@micbar trying 3 hours in a row so far... can't overload `workerSrc` like it was done here
https://github.com/owncloud/files_pdfviewer/blob/master/js/workersrc.js#L20

All attempts  are ended like this:
![result](https://user-images.githubusercontent.com/991300/59537963-eec26500-8f00-11e9-84a3-a21d30f3e8e0.png)

[2019-06-14 21:52] VicDeo commented on #183
@cdamken @micbar
Good news: I managed to update the lib to v2.1 https://github.com/owncloud/files_pdfviewer/pull/184
Bad news: the oC part of the viewer is missing a part to work with attachments properly.

Attachments are sent via data://protocol and do not belong to ownCloud filesystem directly so supporting them needs further research.

The easiest solution here is to download attachments inste

[2019-06-21 09:50] micbar commented on #183
@VicDeo Is the 2.1 really a beta release?

[2019-06-21 12:48] VicDeo commented on #183
https://mozilla.github.io/pdf.js/getting_started/#download

Beta (v2.1.266)

[2019-06-24 18:47] cdamken commented on #183
After clarifying: Its 2.0.30

[2019-06-25 08:11] micbar commented on #183
@cdamken we need to wait until 2.1 is stable.
2.0.30 is not supported see https://github.com/owncloud/files_pdfviewer/issues/183#issuecomment-502165228

[2019-06-28 02:48] devi69 commented on #162
Hi.

A fix for files_pdfviewer has been made on Nextcloud.
With this fix, my sample file was displayed correctly.

Fix load of character maps # 140
https://github.com/nextcloud/files_pdfviewer/pull/140

ownCloud's files_pdfviewer is 0.9.0, The same fix does not seem to apply.

It would be nice if it could be displayed in the same way with ownCloud's files_pdfviewer.

[2019-07-15 09:38] pmaier1 commented on #183
Looking at https://mozilla.github.io/pdf.js/getting_started/#download, 2.1 is now stable. Can we upgrade the lib now and will that fix the issue?

[2019-07-15 09:49] micbar commented on #183
@VicDeo merged the PR.
Could we fix the original problem? Do you see it within a reasonable effort?

[2019-07-15 10:25] VicDeo commented on #183
Status of 2.1.266 was changed from `Beta` into `Stable` https://github.com/mozilla/pdf.js/releases/tag/v2.1.266 but it has the same changeset inside.  So it won't.

[2019-07-15 11:20] pmaier1 commented on #183
Then seems we'll have to wait. Will 2.2 include the necessary changes?

[2019-07-15 11:29] VicDeo commented on #183
@pmaier1 no, as it's a feature lack of the pdfviewer app.
Embedded docs are provided using `data:` protocol and the app has never been able to display them.

[2019-07-18 15:55] VicDeo commented on #183
I'm closing this issue as we merged the version bump

[2019-07-18 15:55] #183 closed

[2019-08-22 06:59] fmkaiser opened #188 "Allow full screen"
It would be very useful to be able to view PDFs in full screen / presentation mode.

This is actually supported in pdf.js, we would just need to add `allowfullscreen` to the iframe:

![allowfullscreen](https://user-images.githubusercontent.com/2922101/63493042-fed76180-c4ba-11e9-9b5f-b3509b7468a2.png)

(For a live demo see https://mozilla.github.io/pdf.js/web/viewer.html)

Is there a reason why th

[2019-11-06 12:33] hdlbq opened #194 "can't activate pdf viewer for shared links"
1. I installed owncloud using this docker distrib: sameersbn/docker-owncloud
2. I added files_pdfviewer in the apps folder of the docker
3. I enabled the app in the admin settings panel

### Expected behaviour
I hope the pdf file to be displayed (and not downloaded), when the user clicks on the shared link.

the link I use is the following one:
```http://file4u.centralesupelec.fr/index.php/s/SkzDv

[2019-11-25 08:37] micbar opened #197 "PDF Viewer 0.11.1"
### Reason

- Release needed for https://github.com/owncloud/enterprise/issues/3377

### QA

- [x] Create **QA** Milestone and set the description to $version
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"
- [x] Create "0.11.1Testplan" @davitol https://github.com/owncloud/files_pdfviewer/issues/204

### Documentation

- [x] Changes in the

[2019-12-06 08:36] micbar commented on #197
@ChrisEdS FYI

[2019-12-06 09:09] micbar commented on #197
RC1 in https://github.com/owncloud/files_pdfviewer/releases/tag/v0.11.1RC1

[2019-12-10 11:34] davitol opened #202 "Closing cross gets shifted when we open a pdf file with files_pdfviewer: 0.11.1"
![Screen Shot 2019-12-10 at 10 34 34](https://user-images.githubusercontent.com/10596560/70525807-71db1580-1b48-11ea-9d51-d55d986b66b4.png)

(cc @VicDeo @HanaGemela @micbar fyi)

Note: it happens randomly.  Tested and reproducible with Firefox and Chrome for Mac.

Reproducible with files_pdfviewer: 0.11.1. Was not able to reproduce it with files_pdfviewer 0.9.0.

[2019-12-10 11:47] davitol opened #203 "Cannot close a pdf opened from an attachment inside pdf documents"
## Steps to reproduce

1-  Open attachments inside pdf document (it is opened in a new tab, intended behaviour?)
2 - Try to close the attachment using the close cross Icon of the files pdfviewer.

## Expected behavior

The file is close and it is possible to go back to files view

## Current behavior

Close icon does not trigger any action.

![Screen Shot 2019-12-10 at 12 36 10](https://user-image

[2019-12-10 11:52] davitol opened #204 "Tracking testing results for Files PDF Viewer 0.11.1"
## 'PDF Viewer' Test Plan

- Run Testplan with all supported browsers: Internet Explorer 11, MS EDGE, Mozilla Firefox, Chrome and Safari.

Note: testplan has been run with Firefox and Chrome

## Testing functionality

Test Case | Expected Result | Result | Related Comment
------------- | -------------- | ----- | ------
**CLI commands** |  |   |
|  |   |
Enable files_pdfviewer app via CLI using ```

[2019-12-10 11:57] davitol commented on #204
## Issues found while QA

- [ ] Closing cross gets shifted when we open a pdf file with files_pdfviewer: 0.11.1  https://github.com/owncloud/files_pdfviewer/issues/202
- [ ] Cannot close a pdf opened from an attachment inside pdf documents https://github.com/owncloud/files_pdfviewer/issues/203

[2019-12-10 12:13] davitol commented on #180
Works for me with oC 10.2.1. and files_pdfviewer: 0.11.1. Let's close the ticket and feel free to reopen if it is reproducible again

[2019-12-10 12:13] #180 closed

[2019-12-10 12:56] davitol commented on #197
RC1 Tarball tested. See issues found while QA here: https://github.com/owncloud/files_pdfviewer/issues/204#issuecomment-564000397

@HanaGemela (cc @micbar )

[2019-12-13 09:43] micbar commented on #203
@VicDeo
Like we just discussed. We could use the close icon to close the tab for attachments.

[2019-12-13 11:05] VicDeo commented on #202
I never had something like this.
Probably reproducible on high density displays (retina) only.

[2019-12-13 11:14] VicDeo commented on #203
addressed in https://github.com/owncloud/files_pdfviewer/pull/205

[2019-12-19 09:57] VicDeo commented on #203
Fixed with https://github.com/owncloud/files_pdfviewer/pull/205

[2019-12-19 09:57] #203 closed

[2019-12-19 10:42] micbar commented on #197
@davitol RC2 in https://github.com/owncloud/files_pdfviewer/releases/tag/v0.11.1RC2

[2019-12-19 11:20] #204 closed

[2019-12-19 11:26] davitol commented on #197
Tarball is QA-ready. Only issue spotted (not regression) https://github.com/owncloud/files_pdfviewer/issues/202 :shipit:

[2019-12-19 12:03] ChrisEdS commented on #202
Yes. I think so, too. When I try to reproduce on a normal display there is no issue.

[2019-12-19 12:13] davitol commented on #202
@ChrisEdS In my MacBook Pro (Retina, 13-inch, Early 2015) it does not happen, but same browser, server, tab etc moving to my Samsung display it gets shifted

[2019-12-19 12:19] VicDeo commented on #202
may be resolution also matters here

[2019-12-19 16:34] micbar commented on #197
@settermjd We could display pdf attachments now.
Demo was already done.

[2019-12-19 16:40] micbar commented on #197
@davitol Final is here https://github.com/owncloud/files_pdfviewer/releases/tag/v0.11.1
Please smoke test and give us final "go"

[2019-12-19 17:01] davitol commented on #197
Go go go

[2020-05-27 17:22] geekanthony opened #214 "Download button does not work in Chrome 83"
When viewing a PDF using Google Chrome 83 (specifically 83.0.4103.61), clicking the download icon in the upper right does not work.  It does not trigger a download.

Download function works fine using Chrome 81 (81.0.4044.138).

I was originally running PDF Viewer 0.11.0.  Upgraded to 0.11.1 with no change.

[2020-06-09 08:04] MPtacnikCZ commented on #214
Hi,
I dealt with it today modifying **previewplugin.js** file in /public_html/apps/files_pdfviewer/js/
I add **allow-downloads** to:
$iframe = $('<iframe id="pdframe" style="width:100%;height:100%;display:block;position:absolute;top:0;z-index:10;" src="'+viewer+'" sandbox="allow-scripts allow-same-origin allow-popups allow-modals allow-top-navigation **allow-downloads**" />');

I hope it will help

[2020-06-09 19:11] geekanthony commented on #214
This worked!!  Thank you so much!

[2020-06-25 12:58] sumitkumar121 opened #216 "Large pdf is not geting printed in IE 11"
When i try to  print a large pdf . Few page is getting printed . Rest of page get printed with Blank Mark. It doesn't contain all the page.
[test-13.pdf](https://github.com/owncloud/files_pdfviewer/files/4831292/test-13.pdf)
[Original File.pdf](https://github.com/owncloud/files_pdfviewer/files/4831295/Original.File.pdf)

Pdf js vesion v2.3.200

[2020-06-25 13:47] #216 closed

[2020-07-20 11:05] mmattel commented on #197
I think that this can be closed as 0.11.1 has been released on Marketplace December 2019

[2020-07-20 11:12] mmattel opened #218 "PDF Viewer 0.11.2"
Because of merge of: https://github.com/owncloud/files_pdfviewer/pull/217 (Fix load of character maps to allow proper rendering of some fonts)
And all the PR´s created 2020 and upcoming oC 10.5

@micbar @pako81 @jnweiger @davitol @HanaGemela

[2020-07-20 11:34] #197 closed

[2020-07-23 08:10] HanaGemela commented on #218
@pako81 what is the priority of this release?

[2020-07-23 08:14] pako81 commented on #218
@HanaGemela low

[2020-07-23 08:26] HanaGemela commented on #218
Currently no need to release https://github.com/owncloud/files_pdfviewer/pull/217
Patch has been delivered to a single affected customer
Waiting for more fixes to come in cc @pmaier1

[2020-08-04 13:54] HanaGemela commented on #218
### Reason

- Release needed for "ticket X", "feature Y"

### Product approval

- [ ] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/<APPNAME> should receive nightly '[tx] updated from transifex` ...
- [ ] Ping pmaier to check `info.xml` description and screenshot
- [ ] Get approval on tran

[2020-08-04 14:21] HanaGemela commented on #218
@davitol ready for testing https://github.com/owncloud/files_pdfviewer/releases/tag/v0.11.2RC1
Setting as P2 for BTR team, this release is more important than the other apps

[2020-08-05 06:47] davitol commented on #218
## 'PDF Viewer' Test Plan

- Run Testplan with browsers: Internet Explorer 11, MS EDGE, Mozilla Firefox, Chrome and Safari.

**Note**: Testplan has been run with Firefox and Chrome

## Testing functionality

Test Case | Expected Result | Result | Related Comment
------------- | -------------- | ----- | ------
**CLI commands** |  |   |
|  |   |
Enable files_pdfviewer app via CLI using ```occ app:en

[2020-08-05 06:48] davitol commented on #218
@HanaGemela Tarball is QA-ready

[2020-08-05 13:56] #218 closed

[2020-09-08 13:08] icomputeUK opened #221 "Print scaling issue"
When users print, all pages are around 3/4 of the size they should be (they look file using the pdf viewer).

We're using Version 0.11.2 and the error has been reported by users using many different browsers.

![image](https://user-images.githubusercontent.com/32702985/92480325-a6b1f100-f1dc-11ea-8bfd-eba3bd411de4.png)

[2020-10-20 09:48] cortho commented on #214
confirmed for Chrome 86.0.4240 and files_pdfviewer: 0.11.2

[2020-11-10 13:42] jnweiger opened #224 "make appstore fails on sign server"
https://github.com/owncloud/administration-internal/blob/master/release-scripts/makedailysnapshots.sh#L68
currently cannot build a daily-master-complete tar ball.

[code]

[2020-11-20 12:44] JanAckermann opened #226 "Context menu, wrong name and missing icon"
### Description
1. Display name is wrong: "favorite"
2. Icon is missing
3. name is not specific and could compete with another app with the same generic name

[2020-12-01 08:02] #214 closed

[2020-12-02 20:35] #226 closed

[2020-12-02 21:12] mmattel opened #230 "Release files_pdfviewer 0.12.0"
## Reason

After a series of important merges, a new release should be planned.
The last release from august has version 0.11.2
@micbar @jvillafanez

- #228 - Update pdfjs to 2.5.
- #224 - make appstore fails on sign server
- #234 - Show Notification if downloading pdf is forbidden
- #237 - Enhance canDownload notification text
- #246 - Fix misalligned close X button
- #247 - Fix wrong locale sett

[2020-12-04 09:36] phil-davis commented on #230
For example, PR #228 was merged.

[2020-12-04 09:44] micbar commented on #230
There are still more people complaining about https://github.com/owncloud/enterprise/issues/4280

@jvillafanez you say we cannot do something about it?

@hurradieweltgehtunter Can we get some exaple files from owncloud online?

[2020-12-04 10:34] jvillafanez commented on #230
In theory, https://github.com/owncloud/files_pdfviewer/pull/228 should improve things. However, without a proper test file I'm not sure if that will be enough.

The new pdfjs version includes a parameter to set the image resolution. The PR has that parameter hardcoded to 300 dpi, which, as far as I've read around, should be enough for a good image quality. We can adjust the parameter if needed, bu

[2020-12-07 10:42] hurradieweltgehtunter commented on #230
I contacted the customer to send us a test file. Will get back to you as soon I have it.

[2020-12-07 10:55] hurradieweltgehtunter commented on #230
Customer told me that they can't send us the file :(

[2020-12-07 11:23] mmattel commented on #230
Q: lookig at: https://github.com/owncloud/files_pdfviewer/issues/224 (make appstore fails on sign server).
`...currently cannot build a daily-master-complete tar ball...`
What about to fix that and ask the customer to test with a test version to see if the issue is resolved?

[2020-12-07 15:17] hurradieweltgehtunter commented on #230
If you're talking about the oc.online customer - fine with me. Although I must mention that they have no account currently, their trial account expired. Testing with that particular customer is not possible currently. They need some tine to decide if they want to go with oc.online

[2020-12-11 10:00] JanAckermann opened #232 "Enable l10n for files action menu"
There is no translation api call for the displayName in the files action menu, so it is not possible to add any translation texts

[2020-12-16 09:23] #232 closed

[2020-12-16 19:46] mmattel commented on #230
#234 (merged)

[2020-12-18 08:30] JanAckermann opened #236 "Enhanche canDownload warning text"
see https://github.com/owncloud/files_pdfviewer/pull/234#issuecomment-747456930

[2020-12-18 08:51] mmattel commented on #230
https://github.com/owncloud/files_pdfviewer/pull/237

[2020-12-18 14:44] #236 closed

[2021-01-13 21:01] voroyam opened #240 "Download does not work"
Should have been fixed with https://github.com/owncloud/files_pdfviewer/pull/220

But a customer recently reported this issue again.

I tried the patch, but it did not help.

Issue description:

When you open the PDF file with files_pdfviewer and click on the download button - nothing happens.

![image](https://user-images.githubusercontent.com/24212810/104509970-c1f99680-55ea-11eb-9991-39d4779826

[2021-01-14 07:50] mmattel opened #241 "WARN deprecated bower --> consider Yarn and Webpack or Parcel"
[code]

[2021-01-14 14:12] VicDeo commented on #240
Given that #220 was merged in December 2020 and the latest app release had been in Aug 2020 no wonder it is still reproducible.
Did you try incognito mode to exclude browser caching?

[2021-01-14 14:24] voroyam commented on #240
I wrote that it's reproducible even with the fix :)

yes. still no reaction from the download button.

[2021-01-14 15:04] mmattel commented on #240
Colleagues,
after a nightmare of (re)setting up node to the required version incl all dependencies, I have compiled `files_pdfviewer` master successfully and enabled the app in my dev env. Using a standard pdf file, I was able to open it, and - most important - **was able to download it. absolutely no issues!**
Ubuntu 18.04, Chrome version 87.0.4280.141 (Official Build) unknown (64-bit)
Hope this

[2021-01-14 15:40] VicDeo commented on #240
owncloud@master / files_pdfviewer@master

https://user-images.githubusercontent.com/991300/104612984-cf208f00-5697-11eb-9554-ebbea98c9a3a.mp4

[2021-01-14 16:29] mmattel commented on #240
@voroyam
@VicDeo and myself have the same positive outcome.
But we both are running a custom build from master. This is maybe the reason.
While accessing from my local machine oC 10.6.0 stable using opera and chrome, I can not download either.

[2021-01-14 16:36] VicDeo commented on #240
I bet it's related to the setup and not to the app itself

[2021-01-14 17:22] mmattel commented on #240
@voroyam just to get sure, have you compiled this master and provided the result to the customer?

[2021-01-14 19:39] voroyam commented on #240
I compiled nothing. I just downloaded the app and patched it.

[2021-01-14 19:50] mmattel commented on #240
This is the issue. Such repos are different than core because they need to be build/compiled. If you want to help your customer, you need to provide him such a build.

[2021-01-14 22:26] voroyam commented on #240
The files_pdfviewer is an app that has releases. Why should I treat this app any different that let's say the wnd app. I honestly don't understand it. If the release is buggy then we need a new release that fixes the bugs, am I wrong?

It's also too much to ask from our customers to tell them - "Well, you just downloaded the app, didn't you? This is where you went wrong, you have to compile the ap

[2021-01-14 22:41] VicDeo commented on #240
The chance that the issue is related to the app itself is quite low.
Anyway, you are welcome to push https://github.com/owncloud/files_pdfviewer/issues/230 forward to prove that.

[2021-01-15 08:13] mmattel commented on #240
@voroyam the situation is quite normal in SW business. You can always tell the customer that ownCloud has identified the issue and already made a fix. A public release is on the way but may take it´s time. If he needs in the meanwhile a non-official build of the app - just to test if that fixes his issue, you can provide him such a custom build. Which is for testing purposes only... This is a stan

[2021-01-15 08:53] voroyam commented on #240
what are your steps to reproduce?

[2021-01-15 09:02] mmattel commented on #240
* Use 10.6 stable with provided files_pdfviewer
* Client (in my case Windows und Ubuntu) has Chrome v 87.0.4280.141 installed
* Open pdf and try downloading --> fail
* Create a build of files_pdfviewer based on master and use that one for testing
* Open pdf and try downloading --> success

BTW, as Opera is based on Chrome (and I guess all browser who are based on Chrome) has the same issue - I tes

[2021-01-15 09:50] voroyam commented on #240
more details please. where how why.

Can you reproduce this also with the downloadable stuff?

like: https://download.owncloud.org/community/owncloud-complete-20201216.tar.bz2
and : https://github.com/owncloud/files_pdfviewer/releases/download/v0.11.2/files_pdfviewer-0.11.2.tar.gz

[2021-01-15 12:13] mmattel commented on #240
@voroyam stable = downloadable, you see the term _stable_ also in your instance and _git_ if you cloned it ect...

[2021-01-15 13:25] voroyam commented on #240
So you can reproduce it with the stuff above?

[2021-01-15 13:30] mmattel commented on #240
yes, not working with standard, working with compiled files_pdfviewer master = when released and published as new version, it provides the fix to customers.

[2021-01-15 13:59] voroyam commented on #240
Great, thank you.

[2021-01-29 03:25] orsfey opened #243 "pdf file can't display correctly"
I found my pdf file can't display correctly on owncloud files_pdfviewer,
![Capture](https://user-images.githubusercontent.com/39669047/106227454-1c951400-61e1-11eb-85c9-7165e4049ffd.PNG)
but when i test in nextcloud, i notice nextcloud files_pdfviewer plug can display without any problem,
![ntcd](https://user-images.githubusercontent.com/39669047/106227591-5a923800-61e1-11eb-8f6c-87a0c4c97249.PNG)

[2021-01-29 03:31] orsfey commented on #243
there are problem with this pdf 2, on owncloud plugin:
![Capture2](https://user-images.githubusercontent.com/39669047/106228010-561a4f00-61e2-11eb-90f2-c020f86adf1d.PNG)

on nextcloud files_pdfviewer plugin:
![捕获](https://user-images.githubusercontent.com/39669047/106228042-6cc0a600-61e2-11eb-8fa2-cac586fb753b.PNG)

the pdf file:
[clk011c-1.9.5.pdf](https://github.com/owncloud/files_pdfviewer/file

[2021-02-02 14:48] VicDeo commented on #243
both files are displayed as expected for me. I tried master and the most recent v 0.11.2

[2021-03-05 08:56] jnweiger commented on #230
This app has <default_enable/> in info.xml, is this intended?

[2021-03-05 10:06] jnweiger commented on #224
fixing buildApp script to allow other folders under build/.../ is probably the easiest solution. Same issue withouter aps.

[2021-03-05 10:27] jvillafanez commented on #230
"blame" points to a commit from 9 years ago, so at least it hasn't been changed.

[2021-03-06 09:38] mmattel commented on #230
Means we have the possibility to fix it now.
@jnweiger, mind to do this task?

[2021-03-09 11:00] jnweiger commented on #230
Sure, I can change the default_enable. But I don't know when we do default_enable, and when we don't, it is more that I am curious to lean when and why ...

[2021-03-10 16:18] michaelstingl commented on #141
@LukasHirt @pmaier1 we discussed switching to browser-native PDF viewer. Only ownCloud-web or oC10 too?

[2021-03-10 17:03] pmaier1 commented on #141
Yeah, this decision was only for ownCloud Web. oC 10 will stay as it is.

[2021-03-10 17:58] #141 closed

[2021-03-11 18:19] voroyam commented on #240
if it's fixed in the new release - closing this then.

[2021-03-11 18:19] #240 closed

[2021-03-16 04:22] jnweiger opened #250 "[QA] pdf_viewer ignores language 'Deutsch förmlich Sie'"
Seen in server 10.7.0 RC1 with pdfviewser 0.12.0 RC1

* switching to `Deutsch Persönlich` or `italiano` work well (except for owncloud/core#38525 )
* switching to 'Deutsch förmloch Sie` shows everything in english.

Expected behaviour: Languange in the pdfviewer interface should be fixed by owncloud/core#38181

[2021-03-18 13:36] JanAckermann opened #245 "Close button not on proper place"
![image](https://user-images.githubusercontent.com/26169327/111635052-6371b400-87f7-11eb-8d6f-212b90bcf772.png)

[2021-03-18 16:23] micbar opened #249 "Clone of core ticket msteamsbridge-5"
# Clones https://github.com/owncloud/msteamsbridge/issues/5

[2021-03-18 20:15] VicDeo commented on #202
is claimed to be fixed in https://github.com/owncloud/files_pdfviewer/pull/246

[2021-03-18 20:15] #202 closed

[2021-03-19 14:40] #250 closed

[2021-03-31 13:53] ChrisEdS opened #252 "PDF Viewer 0.11.3"
### Reason

- Release needed for
https://github.com/owncloud/files_pdfviewer/pull/246
https://github.com/owncloud/files_pdfviewer/pull/237
https://github.com/owncloud/files_pdfviewer/pull/234

### Product approval

- [ ] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/<APPNAME> should receiv

[2021-03-31 14:00] #252 closed

[2021-03-31 14:02] ChrisEdS commented on #230
Raised the priority to p2-high. Please take care.

Thank you BTR-Team.

[2021-04-01 15:15] jnweiger commented on #230
Which task? Changing default_enable? No, not without input.

[2021-04-01 15:17] jnweiger opened #253 "[QA] 0.12.0 Testplan"
## 'PDF Viewer' Test Plan

## Setup
<details><summary>Click to view setup details</summary>

* [x] `bash ./make_oc10_apps.sh guests windows_network_drive impersonate ~/Download/apps/files_pdfviewer-0.12.0-RC4.tar.gz`
      https://78.47.36.119/owncloud
* [x] `bash ./make_oc10_apps.sh richdocuments ~/Download/apps/files_pdfviewer-0.12.0-RC4.tar.gz`
      https://richdoc-20210407.jw-qa.owncloud.work

[2021-04-03 07:55] mmattel commented on #230
My suggestion instead writing `<default_enable/>` would be `files_pdfviewer`.

[2021-04-06 20:29] jnweiger opened #254 "[QA] fails on mojave safari: Please use an ES5-compatible build instead"
Seen with files_pdfviewer 0.12.0-RC1 on server 10.7.0
Using Safari 12.1 (14607.1.40.1.4) on macOS Mojave

* Click on the User_Manual.pdf shipped with the server.

![image](https://user-images.githubusercontent.com/1108546/113774326-680af780-9727-11eb-91a5-09311c25dd7b.png)

[2021-04-06 20:29] jnweiger commented on #253
## Issues opened while testing

* [ ] https://github.com/owncloud/docs/issues/3448 - [QA] User_manual Troubleshooting promises likely cause and resolution, but has none
* [ ] #254 - [QA] fails on mojave safari: Please use an ES5-compatible build instead

[2021-04-06 20:32] jnweiger commented on #254
Most likely related to https://github.com/owncloud/files_pdfviewer/pull/228

[2021-04-06 21:01] jnweiger commented on #254
Regression: The same browser works fine with files_pdfviewer-0.11.0

[2021-04-06 21:27] jnweiger opened #255 "[QA] fails on IE11 with javascript syntax errors"
Seen with files_pdfviewer 0.12.0-RC1 on server 10.7.0
Using IE11 11.973.17763.9 Uodate Versions 11.0.170

* Click on the User_Manual.pdf shipped with the server.

The PDF does not load, a dark empty window is shown. The scripting console has errors messages:

![image](https://user-images.githubusercontent.com/1108546/113780449-84129700-972f-11eb-82b2-9fe4c856234d.png)

[2021-04-06 21:34] jnweiger commented on #245
Reopening. This fix does not seem to be in files_pdfviewer 0.12.0RC1
The close button is misaligned as shown in the first screenshot in firefox, chrome, safari, edge.

[2021-04-07 07:09] JanAckermann commented on #245
Please see https://github.com/owncloud/files_pdfviewer/pull/256

[2021-04-07 07:18] JanAckermann commented on #255
Here we go pdfjs 2.5 is ES6 which is not compatible with IE11 we need to use the ES5 version of it.

[2021-04-07 08:10] GeraldLeikam commented on #255
Confirmed - Error occurs with Internet Explorer version 11.630.1904.0

[2021-04-07 09:06] jnweiger commented on #224
fixed on buildApp script.

[2021-04-07 09:06] #224 closed

[2021-04-07 11:26] gabi18 opened #258 "[QA] Return to 'Files' page when going back after a link is opened"
pdfviewer version 0.12.0
ownCloud 10.7.0

Steps to reproduce:
1. Open ownCloud Manual.pdf in PDF Viewer
2. Click on link e.g. to https://doc.owncloud.com/desktop
3. (<-)   'Go back on page' in browser

Result:
The 'Files' view is shown, instead returning to PDF viewer

Expected result:
Return to PDF viewer, ideally on same page where I leave it.

A possible solution might be to automatically open

[2021-04-07 11:54] #254 closed

[2021-04-07 11:54] #255 closed

[2021-04-07 13:35] JanAckermann commented on #258
The expected result moreover is that the link will be opened in a new tab, but something is broken here.

[2021-04-07 19:57] jnweiger commented on #254
confirmed fixed in RC2

[2021-04-07 19:57] jnweiger commented on #255
confirmed fixed in 0.12.0 RC2

[2021-04-07 20:11] jnweiger commented on #245
## Retesting with files_pdfviewer 0.12.0 RC2

On win10, IE11 and Edge don't show the X at all:

![image](https://user-images.githubusercontent.com/1108546/113926406-66573780-97ec-11eb-8168-12f6e3a1902d.png)

In Safari, Firefox, Chrome, the [ X ] sits perfect centered in place now!

[2021-04-07 20:15] JanAckermann commented on #245
Oh No :/ will have a look

[2021-04-08 05:37] JanAckermann commented on #258
@jvillafanez can you have a Look as well?
we set externallinktarget to blank which doesn't have any effect, tried a lot, but without changing Code in the lib I didn't had success

[2021-04-08 07:24] jvillafanez commented on #258
Returning to the pdf viewer seems quite problematic:
* The viewer is triggered by clicking in the file because it's a file action. This means that the code is attached to the file action, so it isn't easy to call it from the outside. We could try to trigger a click action when we go back from the external site, but this will likely be problematic for other scenarios.
* The viewer is loaded within

[2021-04-08 07:42] JanAckermann commented on #258
@jvillafanez usually you can pass the settings for externalLinkTarget to the pdfjs lib
but this seems to stopped working and the api is very bad documentated
[code]

[2021-04-08 08:24] #245 closed

[2021-04-08 08:28] JanAckermann commented on #243
For me the same

[2021-04-08 08:28] #243 closed

[2021-04-08 08:37] JanAckermann commented on #245
@jnweiger fixed and backported

[2021-04-08 09:46] jvillafanez commented on #258
I'd vote for a won't fix, at least for now.
The LinkTarget seems to be always set to "TOP" no matter how hard I try to change it.

As a workaround, they should be able to right click the link and explicitly open it in a new tab (through the context menu).

We could also try to update the library to 2.8 and try our luck there.

[2021-04-08 09:58] JanAckermann commented on #258
These  are my objections as well

Had some breaking changes here, did not worked out of the box

[2021-04-08 13:43] jnweiger commented on #253
#258 and https://github.com/owncloud/docs/issues/3448 don't block the release.

[2021-04-08 19:02] jnweiger commented on #253
0.12.0 passed QA. Release done.

[2021-04-08 19:02] #253 closed

[2021-04-08 19:03] #230 closed

[2021-04-09 15:15] user1722 opened #265 "Error Message: The shared file does not have download permission and is possible protected by secure view"
Hello,

since updating to 0.12 the following error message appears for every PDF files in a public shared folder.
Accessing the same PDF file in a share to the file direct works.
Accessing the same file when logged in on works.

The error message is:
The shared file does not have download permission and is possible protected by secure view, please contact the owner of the file for granting permiss

[2021-04-10 07:49] JanAckermann commented on #221
Can you please try the new version 0.12.0 ?

[2021-04-10 07:54] JanAckermann commented on #188
Seems to be already implemented

[2021-04-10 07:54] #188 closed

[2021-04-10 09:16] JanAckermann commented on #265
Thank you for opening the issue, the problem is identified and fixed :+1:
Needs a new version of files_pdfviewer, we are on it!

[2021-04-12 08:02] #265 closed

[2021-04-12 08:02] JanAckermann opened #267 "files_pdfviewer 0.12.1"
# Release 0.12.1
### Reason
Release needed for
* Fix PDF files not viewable in shared folders via a public link https://github.com/owncloud/files_pdfviewer/pull/266

### Product approval

- [x] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/<APPNAME> should receive nightly '[tx] updated fro

[2021-04-12 08:17] jnweiger opened #268 "[QA] 0.12.1 Testplan"
## 'PDF Viewer' Test Plan

Template: https://github.com/owncloud/QA/blob/master/Server/Test_Plan_files_pdfviewer.md

## Setup

<details><summary>Click to view setup details</summary>

* [ ] `bash ./make_oc10_apps.sh guests windows_network_drive impersonate ~/Download/apps/files_pdfviewer-0.12.1RC1.tar.gz`
        https://78.47.36.119/owncloud

</details>

## Testing functionality

Run Testplan wit

[2021-04-12 16:10] GeraldLeikam commented on #268
All Tests passed

[2021-04-15 08:27] JanAckermann commented on #194
Please try the lastest version of owncloud and files_pdfviewer :+1:

[2021-04-15 08:27] #194 closed

[2021-04-15 08:27] JanAckermann commented on #171
Please try the latest version of files_pdfviewer :+1

[2021-04-15 08:27] #171 closed

[2021-04-15 08:30] JanAckermann commented on #89
Working with owncloud 10.7.0 and files_pdfviewer 1.2.0

[2021-04-15 08:30] #89 closed

[2021-04-15 08:31] JanAckermann commented on #162
Confirm working with owncloud 10.7 and files_pdfviewer 1.2.0

[2021-04-15 08:31] #162 closed

[2021-04-15 08:32] icomputeUK commented on #221
I updated to version 0.12.0 and then the files did not preview at all.

[2021-04-15 08:33] JanAckermann commented on #56
Issue solved with owncloud 10.7 and files_pdfviewer 1.2.0

![image](https://user-images.githubusercontent.com/26169327/114839452-107b2480-9dd6-11eb-8855-62465ec23e9a.png)

[2021-04-15 08:33] #56 closed

[2021-04-15 08:34] #97 closed

[2021-04-15 08:37] JanAckermann commented on #241
No need to upgrade here, bower is kind of old but still does it's job

[2021-04-15 08:37] #241 closed

[2021-04-15 08:39] JanAckermann commented on #221
Can you provide some screenshots and console output?`

[2021-04-20 08:53] #267 closed

[2021-04-25 06:48] #268 closed

[2021-05-26 15:54] jamu85 opened #275 "Download button not working on Webkit based browsers"
When viewing a pdf file in owncloud 10.7 with app version files_pdfviewer: 0.11.2, the download button in the pdf viewer has no functionality. On other browsers, the file will download.

[2021-05-26 20:35] JanAckermann commented on #275
@JammingBen can you confirm this issue with Safari?

[2021-05-27 12:45] JammingBen commented on #275
Not really, the file downloads for me when clicking the button.

[2021-06-08 08:21] JanAckermann commented on #275
@jamu85 not able to reproduce,
can you provide more info ?

[2021-06-08 08:21] #221 closed

[2021-06-09 15:27] jamu85 commented on #275
On safari, I could not reproduce anymore but it was not working when I created the issue.
The attached gif shows how it looks from user perspective.

Browser console output shows

`
Download is disallowed. The frame initiating or instantiating the download is sandboxed, but the flag ‘allow-downloads’ is not set. See https://www.chromestatus.com/feature/5706745674465280 for more details.
`

![pdf-i

[2021-06-16 14:35] jamu85 commented on #275
Push, any new input especially on the "allow-downloads" flag

[2021-06-28 13:02] jnweiger opened #278 "Print size is scaled down, when document contains rotated pages"
### Seen with files_pdfviewer 0.12.1 on 10.8.0-beta1

* login as administrator,
* upload the attached PDF,
* click to view with the pdf viewer app,
* click on the print icon, a print preview appears
* the first page is shown as a portrait page scaled down towards the top left corner,
* the second page is shown as a portrait page using the full width

<img src="https://user-images.githubusercontent

[2021-06-28 13:06] jnweiger commented on #278
Not a regression. Reproduced in all tested versions.

[2021-07-03 09:00] prsnbrg opened #279 "Missing L10N Folder in Marketplace Release"
The L10N folder is missing in the release. So currently no translations of the PDF Viewer work.

[2021-07-03 09:16] phil-davis opened #281 "Release files_pdfviewer 0.12.2"
Translations need to be included in the release tarball.
Fixes issue #279 PR #280

[2021-07-03 09:31] #279 closed

[2021-07-05 14:01] phil-davis commented on #281
@micbar @jnweiger anyone like to make a branch, tag, tarball for this?

It looks easy (famous last words)

[2021-07-05 14:30] micbar commented on #281
RC1 in https://github.com/owncloud/files_pdfviewer/releases/tag/v0.12.2RC1

[2021-07-05 15:08] phil-davis commented on #281
- Installed from tarball files_pdfviewer-0.12.2RC1.tar.gz
- switched personal language setting to Deutsch
- uploaded a PDF
- the "Open with PDF Viewer" menu option is in Deutsch:

[Dateien - ownCloud.pdf](https://github.com/owncloud/files_pdfviewer/files/6765130/Dateien.-.ownCloud.pdf)

Looks good - translation is available.

[2021-07-05 15:11] phil-davis commented on #281
The PDF viewer also has controls in Deutsch:
![Screenshot from 2021-07-05 20-55-12](https://user-images.githubusercontent.com/1535615/124491860-7377c880-ddd3-11eb-89b9-2a7f5d47f805.png)

[2021-07-05 16:30] micbar commented on #281
@jnweiger Can you approve and publish?

[2021-07-05 18:04] JanAckermann commented on #281
@phil-davis l10n in controls does not come from us, if the close button title (pop up) has a German translation, everything is fine (this comes from us)

[2021-07-13 09:34] prsnbrg commented on #281
@micbar it's possible to publish this release on the marketplace?

[2021-07-20 15:05] jnweiger commented on #281
This was closed too early. I almost missed the release tasks!

[2021-07-20 15:10] jnweiger commented on #281
With German locale, almost everything is correctly translated. One exception:
![image](https://user-images.githubusercontent.com/1108546/126348575-4620582d-597d-4270-9900-769a0d5eddf6.png)

-> not a blocker. Will release now.

[2021-07-20 15:22] JanAckermann commented on #281
Release anyway, In the last release this was fixed now issue again....

[2021-07-20 15:24] jnweiger commented on #281
it says 'close' in both, de and de_DE.
thanks. Releasing now.

[2021-07-20 15:31] jnweiger opened #284 "[QA] translations not coming back from transifex"
Seen in 0.12.2RC1

Both, in 'de' and 'de_DE' the word clse remains untranslated.

![image](https://user-images.githubusercontent.com/1108546/126352090-4f6c172a-066b-4f79-ae25-a8ec4922fde1.png)

Although everything looks pretty well translated in transifex

![image](https://user-images.githubusercontent.com/1108546/126352213-30eb8116-1148-4f83-b6b2-811b36dc43e7.png)

[2021-07-20 15:45] jnweiger commented on #284
The "open with PDF Viewer" string is now translated:
Left 0.12.1, right 0.12.2, (both de_DE):

![image](https://user-images.githubusercontent.com/1108546/126354593-1af9a883-03b4-490d-b169-60b6c24aae3e.png)

[2021-07-20 16:07] jnweiger commented on #284
Confirmed fixed in 0.12.2RC2

[2021-07-20 16:32] jnweiger commented on #281
@prsnbrg Release finally done. Sorry for the delay.

[2021-07-20 16:32] #281 closed

[2021-07-20 16:34] JanAckermann commented on #281
@jnweiger changelog for l10n close fix has wrong PR link

[2021-07-20 19:22] jnweiger commented on #281
Ooops. Fixed on github releases and marketplace website. (But cannot fix it inside the released tar any more.)

[2021-07-28 11:20] tbsbdr opened #286 "Update pdf.js to v2.9 (to display digital signatures)"
**Version 2.9 of pdf.js  does now supports displaying of digital signatures** (but not verifying them)

We should update the pdf viewer to the latest version because we know that users (eg. in Italy) often need to display digital signatures (mainly relying on the PAdES standard, as the EU recognizes PAdES as eIDAS-compliant )
Releasenotes pdf.js: https://github.com/mozilla/pdf.js/releases/tag/v2.9

[2021-07-30 20:31] JanAckermann commented on #286
Tried to update some weeks ago.

Unfortunately, updating to a newer version breaks the app, so some investigations are necessary.

[2021-08-02 13:48] VicDeo commented on #286
This release features improved performance... ...support for IE 11 and non-Chromium-based Edge is dropped.

[2021-08-03 09:37] JanAckermann commented on #286
@pmaier1 @micbar What should we do then, if IE11 gets not supported?

[2021-08-03 10:42] micbar commented on #286
Then we have a problem 😓

[2021-08-03 11:39] JanAckermann commented on #286
time for a private files_pdfviewer_v2 ? :/

[2021-08-04 12:19] tbsbdr commented on #286
## Text proposal for a browser warning:
-------------
**Browser switch recommended**
Our website has detected that you are using an outdated browser that does not allow you to access all supported PDF features. Please switch to a modern browser for a better experience.

Please find here more information about supported browsers for viewing PDF files: https://github.com/owncloud/files_pdfviewer/rel

[2021-08-04 12:33] jamu85 commented on #275
Push, any updates?

[2021-08-04 12:58] JanAckermann commented on #275
We are about to update the underlying pdfjs

[2021-08-05 08:00] JanAckermann commented on #278
Not an files_pdfviewer issue itself, more a mozilla/pdf.js issue.
@jnweiger can you please create a ticket on the vendors repo ?
https://github.com/mozilla/pdf.js/issues

[2021-08-05 08:04] JanAckermann commented on #258
Fixed with:
https://github.com/owncloud/files_pdfviewer/pull/288

As external links will be opened in a new tab

[2021-08-05 08:10] JanAckermann opened #289 "Release files_pdfviewer 1.0.0"
# files_pdfviewer 1.0.0

### Reasons
https://github.com/owncloud/files_pdfviewer/pull/288 update mozilla/pdfj.js lib to 2.9 (support digital signatures)

### Breaking
IE11 and non-chromium-based Edge support will be dropped
(behaviour described in PR)

### Product approval

- [ ] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then

[2021-08-06 10:24] jnweiger opened #291 "[QA] 1.0.0 Testplan"
## 'PDF Viewer' Test Plan

Template: https://github.com/owncloud/QA/blob/master/Server/Test_Plan_files_pdfviewer.md

## Setup

<details><summary>Click to view setup details</summary>

* [ ] `bash ./make_oc10_apps.sh guests windows_network_drive impersonate ~/Download/apps/files_pdfviewer-0.12.0-RC4.tar.gz`
      https://...

</details>

## Testing functionality

Run Testplan with all supported bro

[2021-08-06 12:24] jnweiger commented on #289
1.0.0 RC1 is ready for testing: https://github.com/owncloud/files_pdfviewer/releases/tag/v1.0.0-rc1
@GeraldLeikam  please take care next week

[2021-08-25 15:30] #286 closed

[2021-09-07 22:59] GeraldLeikam opened #294 "Internet Explorer 11"

[2021-09-07 22:59] GeraldLeikam commented on #294
Fail - Close

[2021-09-07 22:59] #294 closed

[2021-09-08 06:51] VicDeo commented on #291
IE11 is not supported since 1.0.0, see https://github.com/owncloud/files_pdfviewer/issues/286#issuecomment-892611402

[2021-09-08 06:55] VicDeo commented on #294
IE11 is not supported since 1.0.0, see https://github.com/owncloud/files_pdfviewer/issues/286#issuecomment-892611402

In short: we need pdf.js  v2.9 display digital signatures feature but IE11 is not supported by pdf.js since v2.7

So anyone who need IE11 support should use files_pdfviewer < 1.0.0

[2021-09-09 09:49] jnweiger commented on #291
## Changelog Testing

* [ ] #288 update mozilla/pdfj.js lib to 2.9 (support digital signatures)

[2021-09-09 10:02] phil-davis opened #295 "Make CI run on old branch 0.x"
We want to be able to run CI on the old `0.x` branch. Investigate if there is some way that we can run a drone "cron" job on a regular basis for `0.x` (probably we will run it weekly)

[2021-09-09 11:58] GeraldLeikam commented on #291
External Links doesn't open in new Tab in following Browsers:

MS Internet Explorer 11
Firefox
Chrome
Android Firefox
Android Chrome

[2021-09-09 12:47] GeraldLeikam opened #296 "Links doesnt come up in new Tab or Window"
In version v1.0.0rc1 of the files_pdfviewer, the links are not opened in a new tab or window but replace the content of the tab with the opened document.

![Screenshot_2021-09-09_14-45-11](https://user-images.githubusercontent.com/54261654/132688272-c6e2a1f7-871e-4e83-b548-cc72e3a84ecf.png)
![Screenshot_2021-09-09_14-45-46](https://user-images.githubusercontent.com/54261654/132688278-f19e2d57-8c19

[2021-09-09 12:54] GeraldLeikam opened #297 "Gestures zoom does not work in pdf_viewer v1.0.0rc1"
Zooming by gesture does not work if you open a pdf with our pdf_viewer v1.0.0.rc1 via the webfrontend in Android FireFox and Android Chrome. A document opened in this way can only be zoomed using the +/- buttons. This may not be a blocker, but it is a negative experience in terms of operation, as everyone is now used to zooming in on documents on their smartphones using a two-finger gesture.

[2021-09-09 13:00] GeraldLeikam opened #298 "[Android] links don't work in pdf_viewer v1.0.0rc1"
If you open a pdf document via the pdf_viewer v1.0.0rc1 on a mobile device, the links built into the document do not work. No new tab is opened, let alone that the current tab is used for this link. The error occurs with Android FireFox and Android Chrome.

[2021-09-09 13:35] GeraldLeikam commented on #291
Issues found while testing:

* [ ] #296
* [ ] #297
* [ ] #298

[2021-09-17 00:57] GeraldLeikam commented on #289
Close after release

[2021-09-17 00:57] #289 closed

[2021-09-17 05:50] JanAckermann commented on #296
Well, the library again is not respecting the config 🤬 Will check with 2.10beta

[2021-09-17 07:40] JanAckermann commented on #296
https://github.com/mozilla/pdf.js/issues/14033

Seems this is intended by mozilla

[2021-09-17 08:21] JanAckermann commented on #297
This is not supported by pdfjs yet https://github.com/mozilla/pdf.js/issues/2582

[2021-09-17 08:21] #297 closed

[2021-09-17 08:24] #275 closed

[2021-09-17 08:32] #296 closed

[2021-09-17 08:32] #298 closed

[2021-09-17 08:41] JanAckermann commented on #291
@GeraldLeikam can you adjust the test plan, so ie11 will be expunged from testing?

[2021-09-17 08:49] JanAckermann opened #302 "Release files_pdfviewer 1.0.1"
# files_pdfviewer 1.0.1

### Reasons
- https://github.com/owncloud/files_pdfviewer/pull/301

### Product approval

- [ ] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/<APPNAME> should receive nightly '[tx] updated from transifex` ...
- [ ] Ping pmaier to check `info.xml` description and sc

[2021-09-17 08:51] JanAckermann opened #303 "Changelog.md 1.0.0 lacks of anchor"
There is no `fixed` or `changed` anchor to keep up with our changelog style

[2021-09-17 09:39] #303 closed

[2021-09-17 09:47] JanAckermann commented on #302
Note: This is already possible to release, but we might wait until Mozilla releases pdfjs v2.10
FYI @pmaier1 @micbar

[2021-09-17 09:49] #278 closed

[2021-09-17 09:49] #291 closed

[2021-09-19 13:16] prsnbrg opened #305 "Menu bar is not translated"
Steps to reproduce
- Update files_pdfviewer to version 1.0.0
- Set Language of oC user to "Deutsch (Persönlich)"
- Open PDF File

![image](https://user-images.githubusercontent.com/29964525/133928921-1619716a-f4df-419e-88c6-92092adc25cb.png)

All buttons or texts except the Close button are not translated

[2021-09-19 16:25] JanAckermann commented on #305
Thanks for opening this issue, this should be fixed with #301

[2021-09-19 16:25] #305 closed

[2021-09-19 16:27] JanAckermann commented on #302
After #305 popping up as well, we should take into consideration an early release -> moving to 'dev done, rc needed'

[2021-10-05 22:00] jnweiger opened #307 "[QA] 1.0.1 Testplan"
## 'PDF Viewer' Test Plan

Template: https://github.com/owncloud/QA/blob/master/Server/Test_Plan_files_pdfviewer.md

## Setup

<details><summary>Click to view setup details</summary>

* [ ] `bash ./make_oc10_apps.sh guests windows_network_drive impersonate ~/Download/apps/files_pdfviewer-0.12.0-RC4.tar.gz`
      https://...

</details>

## Testing functionality

Run Testplan with all supported bro

[2021-10-07 00:15] GeraldLeikam commented on #302
Test plan skipped.
Tested fixes only.

Fixes:
- https://github.com/owncloud/files_pdfviewer/issues/296 :heavy_check_mark:
- https://github.com/owncloud/files_pdfviewer/issues/298 :heavy_check_mark:
- https://github.com/owncloud/files_pdfviewer/issues/305 :heavy_check_mark:

[2021-10-07 20:20] JanAckermann commented on #302
@prsnbrg I vote for yes.

1.0.1 was a bugfix release - so we didn't run the whole test plan, while updating to a new pdfjs this would be mandatory.
After this bugfix release I will update master to pdfjs 2.10

[2021-10-12 02:37] #302 closed

[2021-10-20 11:24] JanAckermann commented on #302
So the issue is:
`Refused to frame 'https://cloud.tumas.com/' because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'none'".`

You might need to update your apache or nginx configuration
https://geekflare.com/csp-frame-ancestors-configuration/

[2021-10-20 12:01] daryl-farrugia commented on #302
@JanAckermann

It worked!! Thanks a lot for your input and for noticing this.

[2021-10-20 12:02] JanAckermann commented on #302
THX for feedback :+1:

[2021-11-01 06:58] phil-davis commented on #295
I see the WEEKLY Cron Jobs entry here in drone: https://drone.owncloud.com/owncloud/files_pdfviewer/settings

But I don't see any weekly drone run here: https://drone.owncloud.com/owncloud/files_pdfviewer

@dpakach I wonder why it does not run?

[2021-11-01 07:01] phil-davis commented on #295
I added another weekly cron job, and made sure to put `0.x` (lowercase "x") as the branch name. On the UI list of jobs it shows as `0.X` (uppercase "X"). I wonder if there is a case mismatch problem?

[2021-11-01 07:05] phil-davis commented on #295
I changed the status to Blocked. We need to wait and see if a weekly job runs some time in the next week.

[2021-11-17 08:55] phil-davis commented on #295
I don't see any weekly runs in https://drone.owncloud.com/owncloud/files_pdfviewer - somehow it does not even start enough to give an error message.

I added a daily (=nightly) CI on `0.x` branch in https://drone.owncloud.com/owncloud/files_pdfviewer/settings

Let's see if a run happens overnight - if so, then there is some problem with weekly drone settings.

[2021-11-18 03:42] phil-davis commented on #295
https://drone.owncloud.com/owncloud/files_pdfviewer
There is only the ordinary nightly drone CI run on master. The job for branch 0.x did not run.
I will make a branch name that does not start with `0` and try a nightly job for that - I get suspicious that there will be a problem with a branch name starting with `0` or with`0.` (looks like a floating point number...)

[2022-04-13 05:23] JanErikLaerka opened #316 "PDF Viewer: Saved values not visible in printout"
Configurations tested:

Web browser and its version: Edge, Chrome Version 99.0.4844.84, Firefox 90.0.2
Operating system and its version: Windows 10, 21H2
PDF Viewer version: 1.0.1
PDF.js version: 2.10.x
Steps to reproduce the problem:

Use OpenOffice to create document with form fields
Type information in the fields
Save as PDF
Open the file with PDF Viewer (v1.0.1), the text in each text field is

[2022-04-13 05:26] JanErikLaerka opened #317 "PDF_Viewer: Save PDF with forms in pdfviewer back to owncloud"
**Background**
Use the powerful scripting engine ooRexx to control and manage applications to collect, assemble and store information. One part of it is to create hundereds of PDF files with form data for a few select people to enter information at the moment they do the corresponding activity. They could of course print each PDF and write and draw by hand, but the problem is that the activity occ

[2022-09-02 06:48] JanErikLaerka commented on #316
Any suggestions regarding this topic?

[2022-09-02 06:51] JanErikLaerka commented on #317
Any suggestions regarding this topic?

Button to write the opened PDF back to owncloud

[2022-09-28 13:50] jnweiger opened #321 "[QA] Comments added with richdocuments are rendered broken"
Seen while testing richdocuments 3.0.0 rc.2 on server 10.11.0

* Add a comment via richdocuments to a pdf.
* open the pdf in owncloud's pdfviewer
* The rendering shows raw markup and a broken thumbnail

![image](https://user-images.githubusercontent.com/1108546/192796268-67deb59e-2bc3-4903-b83b-1452e9e87ef9.png)
(left google chrome, right firefox)

----

When downloaded, and viewed with the stock

[2022-11-02 13:27] JanErikLaerka commented on #316
An updated version of pdf.js will be scheduled for...?